<template>
  <div>
    <v-list two-line>
      <template v-for="legend in legends">
        <v-list-tile :key="legend.uuid">
          <v-list-tile-content>
            <v-list-tile-title>
              {{product.metaData.productName}}
              <span
                class="grey--text text--lighten-1"
              >x{{product.result.qty}}</span>
            </v-list-tile-title>

            <v-list-tile-sub-title>Onceoff Sell: R {{product.result.onceoffDiscount}}</v-list-tile-sub-title>
            <v-list-tile-sub-title>Monthly Sell: R {{product.result.monthlyDiscount}}</v-list-tile-sub-title>
          </v-list-tile-content>

          <v-list-tile-action>
            <v-layout>
              <v-flex>
                <v-btn icon ripple>
                  <v-icon
                    color="grey lighten-1"
                    @click.stop="openExistingProduct(product.uuid)"
                  >edit</v-icon>
                </v-btn>
              </v-flex>
              <v-flex>
                <v-btn icon ripple @click="deleteProductLine(product.uuid)">
                  <v-icon color="red lighten-1">cancel</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </v-list-tile-action>
        </v-list-tile>
      </template>
    </v-list>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
</style>