<template>
  <div id="zoneModal">
    <v-dialog persistent :value="zDialog" width="1200" @input="openModal()">
      <v-btn v-if="!zNoButton" slot="activator" block :color="buttonColor">
        {{zButtonLabel}}
        <v-icon v-if="zButtonIcon" right dark>{{zButtonIconName}}</v-icon>
      </v-btn>
      <v-card :height="zHeight">
        <zone-background-header :zHeaderTitle="zModalTitle"></zone-background-header>
        <v-card-text style="height:81%">
          <slot></slot>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="primary" flat @click="closeModal">
            <v-icon>close</v-icon>Close
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
export default {
  name: "zoneModal",
  props: {
    buttonColor: {
      type: String,
      default: "accent"
    },
    zDialog: {
      type: Boolean
    },
    zNoButton: {
      type: Boolean
    },
    zHeight: {
      type: Number,
      default: null
    },
    zButtonIcon: {
      type: Boolean,
      default: false
    },
    zButtonIconName: {
      type: String,
      default: "upload"
    },
    zButtonLabel: {
      type: String
    },
    zModalTitle: {
      type: String,
      default: null
    },
     zPersist: {
      type: Boolean,
       default: false
    },
  },
  methods: {
    openModal: function() {
      if (this.zDialog == false) this.$emit("open");
      else this.$emit("close");
    },
    closeModal: function() {
      this.zDialog == false;
      this.$emit("close");
    }
  }
};
</script>
<style>
</style>
