<template>
  <div>
    <v-layout row class="mt-2" v-scroll:#scroll-target="onScroll">
      <v-flex xs6 sm6 class="ml-2 mr-2">
        <v-card>
          <v-toolbar color="accent">
            <v-toolbar-side-icon class="secondary--text"></v-toolbar-side-icon>

            <v-toolbar-title class="secondary--text">Available Options</v-toolbar-title>

            <v-spacer></v-spacer>
          </v-toolbar>

          <v-list>
            <draggable
              id="first"
              data-source="juju"
              :list="zAvailableOptions"
              draggable=".item"
              group="a"
            >
              <template v-for="(item, index) in zAvailableOptions">
                <v-list-tile class="list-group-item item ml-2" :key="index" ripple>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>

                    <v-list-tile-sub-title>{{ item.description }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider v-if="index + 1 < zAvailableOptions.length" :key="index"></v-divider>
              </template>
            </draggable>
          </v-list>
        </v-card>
      </v-flex>
      <v-layout class="pa-1 mr-2">
        <v-icon>compare_arrows</v-icon>
      </v-layout>
      <v-flex xs6 sm6 class="mr-2">
        <v-card>
          <v-toolbar color="accent">
            <v-toolbar-side-icon class="secondary--text"></v-toolbar-side-icon>

            <v-toolbar-title class="secondary--text">Selected Options</v-toolbar-title>

            <v-spacer></v-spacer>
          </v-toolbar>

          <v-list>
            <draggable
              id="second"
              data-source="juju"
              :list="zSelectedOptions"
              draggable=".item"
              group="a"
            >
              <template v-for="(item, index) in zSelectedOptions">
                <v-list-tile class="list-group-item item ml-2" :key="index" ripple>
                  <v-list-tile-content>
                    <v-list-tile-title>{{ item.name }}</v-list-tile-title>

                    <v-list-tile-sub-title>{{ item.description }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
                <v-divider v-if="index + 1 < zSelectedOptions.length" :key="index"></v-divider>
              </template>
            </draggable>
          </v-list>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import draggable from "vuedraggable";

export default {
  name: "zoneDragable",

  components: {
    draggable
  },
  props: {
    zAvailableOptions: {
      type: Array,
      default: () => [
        { name: "Makro", description: "Retail Industry" },
        { name: "Builders", description: "Retail Industry" },
        { name: "Makro", description: "Retail Industry" }
      ]
    },
    zSelectedOptions: {
      type: Array,
      default: () => [
        { name: "Edcon", description: "Retail Industry" },
        { name: "Joao 2", description: "Retail Industry" },
        { name: "John 1", description: "Retail Industry" }
      ]
    }
  },
  data() {
    return {};
  },
  methods: {
    onScroll(e) {
      this.offsetTop = e.target.scrollTop;
    }
  }
};
</script>
<style scoped>
.flip-list-move {
  transition: transform 0.5s;
}
.no-move {
  transition: transform 0s;
}
.ghost {
  opacity: 0.5;
  background: #c8ebfb;
}
.list-group {
  background: #ffffff;
  min-height: 20px;
}
.list-group-item {
  cursor: move;
}
.list-group-item i {
  cursor: pointer;
}
</style>