<template>
  <div>
    <!--Refer to views/examples/form to see how component is used-->
    <!-- <h5>{{label}}</h5> -->
    <v-layout row wrap>
      <v-flex xs12>
        <zone-form
          zNoPadding
          :zFormSchema="zFormSchema"
          zOnChangeEventName="lookupchange-event"
          @lookupchange-event="zLookupChangeEvent($event)"
          :zSubmitFormButton="false"
        ></zone-form>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
export default {
  name: "zoneFormlookup",
  data() {
    return {
      output: 0,
      loading: true,
      zFormSchema: []
    };
  },
  props: {
    zLookupHidden: {
      type: Array,
      default: function() {
        return [];
      }
    },
    zLookupKeyName: null,
    zLookupUUID: null,
    zVModel: null,
    label: null
  },
  methods: {
    GetLookupoptions() {
      var self = this;

      self.$http
        .post(
          this.$conf.api_cms +
            "/v1/Lookup/GetLookupOption?LookupUUID=" +
            self.zLookupUUID
        )
        .then(function(response) {
          if (self.zVModel != null) {
            //  console.log(response.data);
            self.$emit("change-selectOptions", response.data.selectOptions);

            self.zFormSchema = [];
            var myModel = self.zVModel.substring(0, self.zVModel.indexOf("-"));

            var optionarray = myModel.split(":");

            var i = 0;
            var xoptions = null;
            for (xoptions of response.data.lookupOptions) {
              let sortedOptions = xoptions.options;
              sortedOptions.sort(function(a, b) {
                return a - b;
              });

              //Hidden Lookup adjust
              var hiddencount = 0;
              for (var look of self.zLookupHidden) {
                for (var lookupOptions of response.data.lookupOptions) {
                  if (
                    lookupOptions.optionName.toLowerCase() ==
                    look.zApiKeyName
                      .substring(look.zApiKeyName.indexOf(":") + 1)
                      .toLowerCase()
                  ) {
                    hiddencount++;
                    break;
                  }
                }
              }
              if (self.zVModel == "") {
                self.zFormSchema.push({
                  zApiKeyName: self.zLookupKeyName + xoptions.optionName,
                  zFlexNumber:
                    12 / (response.data.lookupOptions.length - hiddencount),
                  zLabel: xoptions.optionName,
                  zInputType: "searchSelect",
                  zSelectOptions: sortedOptions,
                  zVModel: xoptions.selectedOption
                });
              } else {
                self.zFormSchema.push({
                  zApiKeyName: self.zLookupKeyName + xoptions.optionName,
                  zFlexNumber:
                    12 / (response.data.lookupOptions.length - hiddencount),
                  zLabel: xoptions.optionName,
                  zInputType: "searchSelect",
                  zSelectOptions: sortedOptions,
                  zVModel: optionarray[i]
                });
              }
              i++;
            }
            self.loading = false;

            var lookupName = [];
            for (xoptions of response.data.lookupOptions) {
              lookupName.push(xoptions.optionName);
            }

            self.$emit("change-LookupFields", lookupName);
            self.GetLookupValue();
            if (self.zLookupHidden != null) {
              for (var formSchema of self.zFormSchema) {
                //formSchema.zHidden = false;
                for (var zLookup of self.zLookupHidden) {
                  var spiltvar = zLookup.zApiKeyName.replace(":", "");
                  if (
                    formSchema.zApiKeyName.toLowerCase() ==
                    spiltvar.toLowerCase()
                  ) {
                    formSchema.zHidden = true;
                  }
                }
              }
            }
          }
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    GetLookupValue() {
      if (this.loading == false) {
        var self = this;
        var lineitems = "";
        var form = this.zFormSchema;
        //   console.log(form);
        for (const field of form) {
          lineitems = lineitems + "Optionlist=" + field.zVModel + "&";
        }
        // console.log(lineitems);
        self.$http
          .post(
            this.$conf.api_cms +
              "/v1/Lookup/GetLookupValue?LookupID=" +
              self.zLookupUUID +
              "&" +
              lineitems
          )
          .then(function(response) {
            let generateSku = form.map(i => i.zVModel).join(":");
            self.output =
              generateSku +
              "-" +
              response.data.onceOffValue +
              "-" +
              response.data.monthlyValue;
            // alert(self.output);
            self.$emit("lookup-change-event", self.output);
          })
          .catch(function(error) {
            self.output = 0;
            // self.$emit("lookup-change-event", 0);
            console.log(error);
          });
      }
    },
    zLookupChangeEvent(event) {
      // this.GetLookupoptions();
      this.GetLookupValue();
    }
  },
  watch: {
    zVModel: {
      handler(val, oldVal) {
        this.GetLookupoptions();
      }
    },
    zLookupUUID: {
      handler(val, oldVal) {
        this.GetLookupoptions();
      }
    }
  },

  mounted() {
    this.GetLookupoptions();
  }
};
</script>