<template>
    <div id="zoneAdvancedComboBox">
    <v-combobox
      box
      v-model="model"
      :filter="filter"
      :hide-no-data="!search"
      :items="items"
      :search-input.sync="search"
      hide-selected
      label="Search for a tag or type in a new one"
      multiple
      small-chips
      solo
    >
      <template v-slot:no-data>
        <v-list-tile>
          <span class="subheading">New note: </span>
          <v-chip
            :color="`red`"
            label
            small
          >
            {{ search }}
          </v-chip>
        </v-list-tile>
      </template>
      <template v-slot:selection="{ item, parent, selected }">
        <v-chip
          v-if="item === Object(item)"
          :color="`red`"
          :selected="selected"
          label
          small
        >
          <span class="pr-2">
            {{ item.text }}
          </span>
          <v-icon
            small
            @click="parent.selectItem(item)"
          >close</v-icon>
        </v-chip>
      </template>
      <template v-slot:item="{ index, item }">
        <v-list-tile-content>
          <v-text-field
            v-if="editing === item"
            v-model="editing.text"
            autofocus
            flat
            background-color="transparent"
            hide-details
            solo
            @keyup.enter="edit(index, item)"
          ></v-text-field>
          <v-chip
            v-else
            :color="`red`"
            dark
            label
            small
          >
            {{ item.text }}
          </v-chip>
        </v-list-tile-content>
        <v-spacer></v-spacer>
        <v-list-tile-action @click.stop>
          <v-btn
            icon
            @click.stop.prevent="edit(index, item)"
          >
            <v-icon>{{ editing !== item ? 'edit' : 'check' }}</v-icon>
          </v-btn>
        </v-list-tile-action>
      </template>
    </v-combobox>
    </div>
</template>

<script>
export default {
  name: "zonePeoplePicker",
  props: {
    zSelected: {
      default: []
    },
    zItems: {
      default: []
    },
    zLabelItem: {
      default: "option",
      type: String
    }
  },
  data() {
    return {
        activator: null,
        attach: null,
        editing: null,
        index: -1,
        items: [],
        menu: false,
        model: [],
        x: 0,
        search: null,
        y: 0
    }
  },
  created: function () {    
    this.items = this.zItems;

    this.zSelected.forEach(s => {
      this.model.push(s);
    });
  },
  watch: {
    model (val, prev) {
      if (val.length === prev.length) return

      this.model = val.map(v => {
        if (typeof v === 'string') {
          v = {
            text: v,
          }

          this.items.push(v)
        }       

        return v
      })

      this.$emit('item-added', this.model);
    }
  },
  methods: {
    edit (index, item) {
      if (!this.editing) {
        this.editing = item
        this.index = index
      } else {
        this.editing = null
        this.index = -1
      }
    },
    filter (item, queryText, itemText) {
      if (item.header) return false

      const hasValue = val => val != null ? val : ''

      const text = hasValue(itemText)
      const query = hasValue(queryText)

      return text.toString()
        .toLowerCase()
        .indexOf(query.toString().toLowerCase()) > -1
    }
  }
};
</script>