<template>
  <div>
    <zoneBackgroundHeader
      :zHeaderTitle="'Device Details : '+ deviceName +''"
    
      zBackgroudCard
      class="pb-1"
    ></zoneBackgroundHeader>

    <v-tabs show-arrows v-model="active">
      <v-tab to="?info">Device Details</v-tab>
      <v-tab to="?tickets">Tickets Logged</v-tab>
      <v-tab to="?backup">Backup History</v-tab>
      <v-tab to="?capacity">Capacity Concerns</v-tab>
      <v-tabs-items touchless>
        <v-tab-item value="?info">
          <v-layout row wrap>
            <v-flex md4 pa-1>
              <zone-background-header zHeaderTitle="CMDB Details:"></zone-background-header>

              <v-list dense>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Device Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.deviceName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Device Description:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.deviceDescription}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Location:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.location}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Ip Address:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.ipAddress}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>CI Type:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.ciType}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Service Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.serviceName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Device Status:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.deviceStatus}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Last Updated Data:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{CIdata.lastUpdatedDate | formatDateName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Last Recieved Data:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{ CIdata._dateCreated | formatDateName }}</v-list-tile-action>
                </v-list-tile>
                <zone-background-header zHeaderTitle="Patch Compliance:"></zone-background-header>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Overall Patch Compliance</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Patchdata.patchCompliance}} %</v-list-tile-action>
                  <v-list-tile-action v-if="Patchdata.patchCompliance != '0'">
                    <img
                      v-if="Patchdata.patchCompliance >= 85"
                      :src="require('../../assets/img/robots/green.png')"
                    />
                    <img
                      v-if="Patchdata.patchCompliance <= 85"
                      :src="require('../../assets/img/robots/red.png')"
                    />
                  </v-list-tile-action>
                  <v-list-tile-action v-if="Patchdata.patchCompliance == '0'">
                    <img :src="require('../../assets/img/robots/grey.png')" />
                  </v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Patch Last Install Date</strong>
                  </v-list-tile-content>

                  <v-list-tile-action v-if="Patchdata.lastPatchInstallDate == null">No Patching Data</v-list-tile-action>
                  <v-list-tile-action
                    v-else
                  >{{Patchdata.lastPatchInstallDate | moment("Do MMMM YYYY, HH:mm:ss")}}</v-list-tile-action>
                </v-list-tile>

                <zone-background-header zHeaderTitle="Monitoring Details:"></zone-background-header>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Source</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.source}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Monitoring Method</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.monitoringMethod}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Last Restart Time Stamp</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.lastRestartTimeStamp | formatDateName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Operating System</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.operatingSystem}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Total Memory</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.totalMemoryGB}} GB</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Total CPU Cores</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.totalCPUCores}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Memory Threhold Setting</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.memoryThreholdSetting}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>CPU Threhold Setting</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.cpuThreholdSetting}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Support Team</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.supportTeam}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Collection Time Stamp</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{Modata.collectionTimeStamp | formatDateName}}</v-list-tile-action>
                </v-list-tile>
              </v-list>
            </v-flex>
            <v-flex md8 pa-1>
              <zone-background-header zHeaderTitle="Average CPU Load &amp; Memory Utilization:"></zone-background-header>

              <v-layout row>
                <v-flex xs6 pt-1 class="text-xs-center">
                  <radial-gauge :value="parseFloat(Modata.avgMemory)" :options="optionsmemory"></radial-gauge>
                </v-flex>
                <v-flex xs6 pt-1 class="text-xs-center">
                  <radial-gauge :value="parseFloat(Modata.avgcpu)" :options="optionsCPU"></radial-gauge>
                </v-flex>
              </v-layout>

              <zone-background-header zHeaderTitle="Volume Details:"></zone-background-header>

              <v-data-table :headers="volheaders" :items="Modata.volumes" class="elevation-1">
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.volumeName }}</td>
                  <td>{{ props.item.volumeSize }} GB</td>
                  <td>{{ props.item.volumeSpaceUsed }} GB</td>
                  <td>{{ props.item.volumePercentUsed }}%</td>
                  <td>{{ props.item.volumeThreshold }}</td>
                  <td>{{ props.item.volumeSupportTeam }}</td>
                </template>
                <template slot="no-data">
                  <v-alert :value="true" color="primary">We have no Monitoring data for this device</v-alert>
                </template>
              </v-data-table>

              <zone-background-header zHeaderTitle="Interface Details:"></zone-background-header>

              <v-data-table
                :headers="interfaceheaders"
                :items="Modata.interfaces"
                class="elevation-1"
              >
                <template slot="items" slot-scope="props">
                  <td>{{ props.item.interfaceName }}</td>
                  <td>{{ props.item.interFaceType }}</td>
                  <td>{{ props.item.interfaceInBandwidthGBPs }} GBPS</td>
                  <td>{{ props.item.interfaceInPercentUtilization }}%</td>
                  <td>{{ props.item.interfaceInThreshold }}</td>
                  <td>{{ props.item.interfaceOutBandwidthGBPs }} GBPS</td>
                  <td>{{ props.item.intefaceOutPercentUtilization }}%</td>
                  <td>{{ props.item.interfaceOutThreshold }}%</td>
                </template>
                <template slot="no-data">
                  <v-alert :value="true" color="primary">We have no Interface data for this device</v-alert>
                </template>
              </v-data-table>
            </v-flex>
          </v-layout>
        </v-tab-item>

        <v-tab-item value="?tickets">
          <zone-background-header zHeaderTitle="Tickets Logged:"></zone-background-header>
          <v-data-table
            :headers="zTableTicketsHeaders"
            :items="zTableTicketsData"
            :pagination.sync="zPagination"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.callNumber }}</td>
              <td>{{ props.item.callDescription }}</td>

              <td>{{ props.item.dateOccurred | formatDateName }}</td>
              <td>{{ props.item.severity }}</td>
              <td>{{ props.item.assignee }}</td>
              <td>{{ props.item.status }}</td>
              <td>{{props.item.lastUpdatedDate | formatDateName}}</td>
              <td class="text-xs-left">
                <v-dialog width="800">
                  <v-btn slot="activator" color="primary" dark>View</v-btn>

                  <v-card>
                    <v-card-title class="headline white--text primary" primary-title>Solution:</v-card-title>

                    <v-card-text>{{ props.item.solution }}</v-card-text>

                    <!-- <v-divider></v-divider> -->
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <!-- <v-btn color="primary" flat @click="solutiondialog = false">Close</v-btn> -->
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </td>
            </template>
          </v-data-table>
        </v-tab-item>

        <v-tab-item value="?backup">
          <zone-background-header zHeaderTitle="Backup History:"></zone-background-header>
          <v-data-table
            :headers="zTableBackupsHeaders"
            :items="zTableBackupsData"
            :pagination.sync="zPaginationBackups"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.masterServer }}</td>
              <td>{{ props.item.policyName }}</td>

              <td>{{ props.item.backupType }}</td>
              <td>{{ props.item.startTime }}</td>
              <td>{{ props.item.endTime}}</td>
              <td>{{ props.item.lastUpdatedTime}}</td>
              <td>{{ props.item.policyType}}</td>
              <td>{{ props.item.scheduleName}}</td>
              <td>{{ props.item.statusCode}}</td>
              <td>{{ props.item.jobType}}</td>
            </template>
          </v-data-table>
        </v-tab-item>

        <v-tab-item value="?capacity">
          <zone-background-header zHeaderTitle="Disk Concerns"></zone-background-header>
          <v-data-table
            :headers="zTableHeadersDisk"
            :items="zTableDataDisk"
            :pagination.sync="paginationdisk"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.serviceName }}</td>
              <td>
                <a
                  class="clickablelink"
                  :href="'/MAAS/DeviceDetails/' + props.item.deviceName + '?backurl=/MAAS/ServiceHealthDetail/' + props.item.serviceName  +'&tab=ticketing'"
                >{{props.item.deviceName}}</a>
              </td>
              <td>{{ props.item.deviceDescription }}</td>
              <td>{{ props.item.ipAddress }}</td>
              <td>{{ props.item.location }}</td>
              <td>{{ props.item.volumeName }}</td>
              <td>{{ props.item.volumeSize }} GB</td>
              <td>{{ props.item.volumeSpaceUsedCurrent }} GB</td>
              <td>{{ props.item.volumeSpaceUsedFirstRecording }} GB</td>
              <td>{{ props.item.diskGrowth }} GB</td>
              <td>{{ props.item.basedOnDays }}</td>
              <td class="text-xs-left">
                <p v-if="props.item.daysLeft <= 15" style="color:red">{{props.item.daysLeft}} days</p>
                <template v-else>
                  <p
                    v-if="props.item.daysLeft > 15 && props.item.daysLeft < 30"
                    style="color:#ff9500"
                  >{{props.item.daysLeft}} days</p>
                  <p v-else>{{props.item.daysLeft}} days</p>
                </template>
              </td>
            </template>
            <template slot="no-data">
              <v-layout align-center justify-center row fill-height>
                <v-icon style="font-size: 5rem;" color="green">tag_faces</v-icon>
                <h4>You have no Disk Concerns</h4>
              </v-layout>
            </template>
          </v-data-table>
          <zone-background-header zHeaderTitle="CPU Concerns"></zone-background-header>
          <v-data-table
            :headers="zTableHeadersCPU"
            :items="zTableDataCPU"
            :pagination.sync="paginationcpu"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.serviceName }}</td>
              <td>
                <a
                  class="clickablelink"
                  :href="'/MAAS/DeviceDetails/' + props.item.deviceName + '?backurl=/MAAS/ServiceHealthDetail/' + props.item.serviceName  +'&tab=ticketing'"
                >{{props.item.deviceName}}</a>
              </td>
              <td>{{props.item.deviceDescription}}</td>
              <td>{{ props.item.ipAddress }}</td>
              <td>{{ props.item.location }}</td>
              <td class="text-xs-left">
                <p
                  v-if="props.item.avgcpuusage >= 95"
                  style="color:red"
                >{{props.item.avgcpuusage.toFixed(2)}}%</p>
                <template v-else>
                  <p
                    v-if="props.item.avgcpuusage >= 85 && props.item.avgcpuusage <= 94.99"
                    style="color:#ff9500"
                  >{{props.item.avgcpuusage.toFixed(2)}}%</p>
                  <p v-else>{{props.item.avgcpuusage.toFixed(2)}}%</p>
                </template>
              </td>
            </template>
            <template slot="no-data">
              <v-layout align-center justify-center row fill-height>
                <v-icon style="font-size: 5rem;" color="green">tag_faces</v-icon>
                <h4>You have no CPU Concerns</h4>
              </v-layout>
            </template>
          </v-data-table>

          <zone-background-header zHeaderTitle="Memory Concerns"></zone-background-header>
          <v-data-table
            :headers="zTableHeadersMEM"
            :items="zTableDataMEM"
            :pagination.sync="paginationmem"
          >
            <template slot="items" slot-scope="props">
              <td>{{ props.item.serviceName }}</td>
              <td>
                <a
                  class="clickablelink"
                  :href="'/MAAS/DeviceDetails/' + props.item.deviceName + '?backurl=/MAAS/ServiceHealthDetail/' + props.item.serviceName  +'&tab=ticketing'"
                >{{props.item.deviceName}}</a>
              </td>
              <td>{{props.item.deviceDescription}}</td>
              <td>{{ props.item.ipAddress }}</td>
              <td>{{ props.item.location }}</td>
              <td class="text-xs-left">
                <p
                  v-if="props.item.avgmemoryusage >= 95"
                  style="color:red"
                >{{props.item.avgmemoryusage.toFixed(2)}}%</p>
                <template v-else>
                  <p
                    v-if="props.item.avgmemoryusage >= 85 && props.item.avgmemoryusage <= 94.99"
                    style="color:#ff9500"
                  >{{props.item.avgmemoryusage.toFixed(2)}}%</p>
                  <p v-else>{{props.item.avgmemoryusage.toFixed(2)}}%</p>
                </template>
              </td>
            </template>
            <template slot="no-data">
              <v-layout align-center justify-center row fill-height>
                <v-icon style="font-size: 5rem;" color="green">tag_faces</v-icon>
                <h4>You have no Memory Concerns</h4>
              </v-layout>
            </template>
          </v-data-table>
        </v-tab-item>
      </v-tabs-items>
    </v-tabs>
  </div>
</template>

<script>
import RadialGauge from "vue-canvas-gauges/src/RadialGauge";
export default {
  name: "deviceDetails",
  components: {
    RadialGauge
  },
  props: {
    deviceName: {
      type: String
    },
    customeruuid: {
      type: String,
      default: ""
    }
  },
  watch: {
    deviceName: {
      handler() {
        this.deviceDetails();
      }
    }
  },
  data() {
    return {
      loading: {
        overview: true,
        monitoring: true,
        tickets: true,
        backups: true,
        capcityconcerns: true
      },
      zTableTicketsData: [],
      zTableBackupsData: [],
      zPagination: {
        descending: true,
        page: 1,
        rowsPerPage: 10,
        sortBy: "lastUpdatedDate"
      },
      zPaginationBackups: {
        descending: true,
        page: 1,
        rowsPerPage: 10,
        sortBy: "lastUpdatedDate"
      },
      solutiondialog: false,
      active: "",
      interfaceheaders: [
        {
          value: "interfaceName",
          text: "Name"
        },
        {
          value: "interFaceType",
          text: "Type"
        },
        {
          value: "interfaceInBandwidthGBPs",
          text: "In Bandwidth"
        },
        {
          value: "interfaceInPercentUtilization",
          text: "In % Used"
        },
        {
          value: "interfaceInThreshold",
          text: "Out Threshold"
        },
        {
          value: "interfaceOutBandwidthGBPs",
          text: "Out Bandwidth"
        },
        {
          value: "intefaceOutPercentUtilization",
          text: "Out % Used"
        },
        {
          value: "interfaceOutThreshold",
          text: "In Threshold"
        }
      ],
      volheaders: [
        {
          value: "volumeName",
          text: "Volume"
        },

        {
          value: "volumeSize",
          text: "Size"
        },
        {
          value: "volumeSpaceUsed",
          text: "Used"
        },
        {
          value: "volumePercentUsed",
          text: "% Used"
        },
        {
          value: "volumeThreshold",
          text: "Volume Threshold"
        },
        {
          value: "volumeSupportTeam",
          text: "Volume Support TeaM"
        }
      ],
      optionscount: {
        title: "Count",
        width: "200",
        height: "200",
        units: "%",
        colorTitle: "black",
        fontTitleSize: 30,
        valueBoxStroke: 0,
        valueInt: 2,
        valueDec: 0
      },
      optionsmemory: {
        title: "Memory",
        width: "180",
        height: "180",
        units: "%",
        colorTitle: "black",
        fontTitleSize: 30,
        valueBoxStroke: 0,
        valueInt: 2,
        valueDec: 0,
        highlights: [
          {
            from: 0,
            to: 80,
            color: "rgba(0,255,0,.50)"
          },
          {
            from: 80,
            to: 90,
            color: "rgba(255,255,0,.50)"
          },
          {
            from: 90,
            to: 100,
            color: "rgba(255,0,0,.80)"
          }
        ]
      },
      optionsCPU: {
        title: "CPU",
        width: "180",
        height: "180",
        units: "%",
        colorTitle: "black",
        fontTitleSize: 30,
        valueBoxStroke: 0,
        valueInt: 2,
        valueDec: 0,
        highlights: [
          {
            from: 0,
            to: 80,
            color: "rgba(0,255,0,.50)"
          },
          {
            from: 80,
            to: 90,
            color: "rgba(255,255,0,.50)"
          },
          {
            from: 90,
            to: 100,
            color: "rgba(255,0,0,.80)"
          }
        ]
      },
      optionsPatchCompliance: {
        title: "Patch",
        width: "180",
        height: "180",
        units: "%",
        colorTitle: "black",
        fontTitleSize: 30,
        valueBoxStroke: 0,
        valueInt: 2,
        valueDec: 0,
        highlights: [
          {
            from: 90,
            to: 100,
            color: "rgba(0,255,0,.50)"
          },
          {
            from: 80,
            to: 90,
            color: "rgba(255,255,0,.50)"
          },
          {
            from: 0,
            to: 80,
            color: "rgba(255,0,0,.80)"
          }
        ]
      },
      CIdata: [],
      Patchdata: {
        deviceName: "",
        patchCompliance: "0",
        lastPatchInstallDate: null
      },
      Modata: [],
      TicketLogged: [],
      BackupHistory: [],
      zTableBackupsHeaders: [
        {
          value: "masterServer",
          text: "Master Server"
        },
        {
          value: "policyName",
          text: "Policy Name"
        },
        {
          value: "backupType",
          text: "Backup Type"
        },
        {
          value: "startTime",
          text: "Start Time"
        },
        {
          value: "endTime",
          text: "End Time"
        },
        {
          value: "lastUpdatedTime",
          text: "Last Updated Time"
        },
        {
          value: "policyType",
          text: "Policy Type"
        },
        {
          value: "scheduleName",
          text: "Schedule Name"
        },
        {
          value: "statusCode",
          text: "Status Code"
        },
        {
          value: "jobType",
          text: "Job Type"
        }
      ],
      zTableTicketsHeaders: [
        {
          value: "callNumber",
          text: "Reference"
        },
        {
          value: "callDescription",
          text: "Decription"
        },
        {
          value: "dateOccurred",
          text: "Date Occurred"
        },
        {
          value: "severity",
          text: "Severity"
        },
        {
          value: "assignee",
          text: "Assignee"
        },
        {
          value: "status",
          text: "Status"
        },
        {
          value: "lastUpdatedDate",
          text: "Last Updated Date"
        },
        {
          value: "solution",
          text: "Solution"
        }
      ],
      paginationmem: {
        sortBy: "avgmemoryusage",
        descending: true,
        rowsPerPage: -1
      },
      paginationcpu: {
        sortBy: "avgcpuusage",
        descending: true,
        rowsPerPage: -1
      },
      paginationdisk: {
        sortBy: "daysLeft",
        descending: true,
        rowsPerPage: -1
      },
      zTableDataMEM: [],
      zTableDataCPU: [],
      zTableDataDisk: [],
      //Data Sturcture
      zTableHeadersMEM: [
        {
          value: "serviceName",
          text: "Service Name"
        },
        {
          value: "deviceName",
          text: "Device Name"
        },
        {
          value: "deviceDescription",
          text: "Device Description"
        },
        {
          value: "ipAddress",
          text: "IP Address"
        },
        {
          value: "location",
          text: "Location"
        },
        {
          value: "avgmemoryusage",
          text: "Average Usage"
        }
      ],
      zTableHeadersCPU: [
        {
          value: "serviceName",
          text: "Service Name"
        },
        {
          value: "deviceName",
          text: "Device Name"
        },
        {
          value: "deviceDescription",
          text: "Device Description"
        },
        {
          value: "ipAddress",
          text: "IP Address"
        },
        {
          value: "location",
          text: "Location"
        },
        {
          value: "avgcpuusage",
          text: "Average Usage"
        }
      ],
      zTableHeadersDisk: [
        {
          value: "serviceName",
          text: "Service Name"
        },
        {
          value: "deviceName",
          text: "Device Name"
        },
        {
          value: "deviceDescription",
          text: "Device Description"
        },
        {
          value: "ipAddress",
          text: "IP Address"
        },
        {
          value: "location",
          text: "Location"
        },
        {
          value: "volumeName",
          text: "Disk Name"
        },
        {
          value: "volumeSize",
          text: "Size"
        },
        {
          value: "volumeSpaceUsedCurrent",
          text: "Current Space Used"
        },
        {
          value: "volumeSpaceUsedFirstRecording",
          text: "First Recording Space Used"
        },
        {
          value: "diskGrowth",
          text: "Growth"
        },
        {
          value: "basedOnDays",
          text: "Based On"
        },
        {
          value: "daysLeft",
          text: "Days Left"
        }
      ]
    };
  },
  methods: {
    deviceDetails() {
      this.checkifstillloading();
      var self = this;
      this.$store.commit("updateloading", true);

      //ConfigurationItem
      self.getConfigurationItem(self.deviceName, self.customeruuid);
      //Monitoring
      self.getMonitoring(self.deviceName, self.customeruuid);
      //Calls
      self.getCalls(self.deviceName);
      //backup
      self.getBackups(self.deviceName);

      self.getPatchCompliance(self.deviceName);

      //capacity Concerns
      self.getcapacityConcerns("CapcityConcernsDisk", self.deviceName);
      self.getcapacityConcerns("CapcityConcernsMEM", self.deviceName);
      self.getcapacityConcerns(
        "CapcityConcernsCPU",
        self.$route.params.deviceName
      );
    },
    checkifstillloading() {
      var data = this.loading;
      var stillLoading = false;
      for (var key in data) {
        if (data[key] == true) {
          stillLoading = true;
        }
      }

      if (stillLoading == false) {
        this.$store.commit("updateloading", false);
      }
      // console.log(Object.keys(data));
    },
    getConfigurationItem(deviceName, CustomerUUID) {
      var self = this;
      self.$http
        .get(
          self.$conf.api_collection +
            "v1/MAAS/GetConfiguationItem?DeviceName=" +
            deviceName +
            "&CustomerUUID=" +
            CustomerUUID
        )
        .then(function(response) {
          self.CIdata = response.data;
          self.loading.overview = false;
          self.checkifstillloading();
        })
        .catch(function(error) {
          console.log(error);
           self.$store.commit("updateloading", false);
        });
    },
    getMonitoring(deviceName, CustomerUUID) {
      var self = this;
      self.$http
        .get(
          self.$conf.api_collection +
            "v1/MAAS/GetMonitoring?DeviceName=" +
            deviceName +
            "&CustomerUUID=" +
            CustomerUUID
        )
        .then(function(response) {
          self.Modata = response.data;
          self.loading.monitoring = false;
          self.checkifstillloading();
        })
        .catch(function(error) {
          console.log(error);
           self.$store.commit("updateloading", false);
        });
    },
    getCalls(deviceName) {
      var self = this;
      self.$http
        .get(
          self.$conf.api_collection +
            "v1/MAAS/GetTickets?DeviceName=" +
            deviceName
        )
        .then(function(response) {
          self.zTableTicketsData = response.data;
          self.loading.tickets = false;
          self.checkifstillloading();
        })
        .catch(function(error) {
          console.log(error);
          self.$store.commit("updateloading", false);
        });
    },
    getBackups(deviceName) {
      var self = this;
      self.$http
        .get(
          self.$conf.api_collection +
            "v1/MAAS/GetBackups?DeviceName=" +
            deviceName
        )
        .then(function(response) {
          self.zTableBackupsData = response.data;
          self.loading.backups = false;
          self.checkifstillloading();
        })
        .catch(function(error) {
          console.log(error);
          self.$store.commit("updateloading", false);
        });
    },
    getPatchCompliance(deviceName) {
      var self = this;
      self.$http
        .get(
          self.$conf.api_collection +
            "v1/MAAS/GetPatchCompliance?DeviceName=" +
            deviceName
        )
        .then(function(response) {
          if (response.data != null) {
            if (response.data.length > 0) {
              self.Patchdata = response.data[0];
            }
          }
          self.checkifstillloading();
        })
        .catch(function(error) {
          console.log(error);
          self.$store.commit("updateloading", false);
        });
    },
    getcapacityConcerns(Type, deviceName) {
      var self = this;
      self.$store.commit("updateloading", true);

      self.$http
        .post(
          this.$conf.api_collection +
            "v1/MAAS/" +
            Type +
            "?DeviceName=" +
            deviceName
        )
        .then(response => {
          //console.log(response.data.data);
          if (Type == "CapcityConcernsMEM") {
            self.zTableDataMEM = response.data.data;
          }
          if (Type == "CapcityConcernsCPU") {
            self.zTableDataCPU = response.data.data;
          }
          if (Type == "CapcityConcernsDisk") {
            self.zTableDataDisk = response.data.data;
          }
          self.loading.capcityconcerns = false;
          this.checkifstillloading();
        })
        .catch(error => {
          console.log(error);
          alert(JSON.stringify(error));
          self.$store.commit("updateloading", false);
        })
        .finally();
    }
  },
  mounted() {},
  created() {
    this.deviceDetails();
  }
};
</script>