<template>
  <div id="zoneDataTableClientSide">
    <!--Entire Datatable-->
    <v-flex xs12 sm12 md12 my-2>
      <zone-background-header v-if="zHideTitle == false" :zHeaderTitle="zTableTitle"></zone-background-header>
      <!-- Search Bar-->
      <template id="Search Bar" v-if="zHideSearch == false">
        <v-layout row pl-2>
          <v-flex xs12 sm12 md12 pa-1 pb-3>
            <v-text-field
              v-model="Search"
              append-outer-icon="search"
              label="Search"
              placeholder
              hide-details
            >
              <v-chip
                v-if="Search != null && Search != ''"
                slot="append"
                small
                close
                @input="Search = null"
                color="primary"
                text-color="white"
              >Filters are applied</v-chip>
            </v-text-field>
          </v-flex>
        </v-layout>
      </template>
    </v-flex>

    <v-data-table
      :headers="zTableHeaders"
      :items="zTableData"
      :loading="zLoading"
      header-key="value"
      class="elevation-1"
      :search="Search"
      :rows-per-page-items="Rows"
      :hide-actions="zHideFooter"
      :hide-headers="zHideHeaders"
      item-key="deviceName"
      :disable-initial-sort="zNoInitialSort"
    >
      <!-- Datatable User Defined Columns -->
      <!-- <template slot="items" slot-scope="props"> -->
      <!-- <template id="Datatable User Defined Columns" v-for="(data, key) in props.item">
          <td v-if="zCorrelateDataToHeader(key)" :key="key" class="text-xs-center">
            {{key}}
            <template>{{ props.item[key] }}</template>
          </td>
      </template>-->
      <!-- <template slot="items" slot-scope="props">
        <template id="Datatable User Defined Columns" v-for="(data, key) in props.item">
          <td v-if="zCorrelateDataToHeader(key)" :key="key" class="text-xs-center">
            <template>{{ data }}</template>
          </td>
      </template>-->
      <template slot="items" slot-scope="props">
        <td v-for="(data, key) in props.item" :key="key" v-on:click="$emit('click', $event)">
          <img v-if="data.robot == 'green'" :src="require('../../assets/img/robots/green.png')" />
          <img
            v-else-if="data.robot == 'amber'"
            :src="require('../../assets/img/robots/amber.png')"
          />
          <img v-else-if="data.robot == 'red'" :src="require('../../assets/img/robots/red.png')" />
          <v-btn
            v-else-if="data.button"
            fab
            small
            color="primary"
            @click="$emit('openInfoModal', data.button)"
            title="Click for more detials on this entry"
          >
            <v-icon>more_horiz</v-icon>
          </v-btn>
           <!-- for when you want to read less text -->
          <span v-else-if="key == 'message' && data.cut">
            {{ data.cut }}
            <v-btn small outlined color="black" class="white--text" v-on:click="$emit('readMore', props.item)">Read more</v-btn>
          </span>
          
          <!--v-icon  v-else-if="data.button" @click="$emit('openInfoModal', data.button)" title="Click for more detials on this entry">attachment</v-icon-->
          <!-- for when you want to read less text -->
          <span v-else-if="key == 'message' && data.length > 300">
            {{ data }}
            <v-btn small outlined color="black" class="white--text " v-on:click="$emit('readLess', props.item)">Read Less</v-btn>
          </span>

          <span v-else>{{data}}</span>
        </td>
      </template>

      <!-- Alerts-->
      <template id="Datatable alert on empty search">
        <v-alert
          slot="no-results"
          :value="true"
          color="error"
        >Your search for "{{ Search }}" found no results.</v-alert>
      </template>
      <template id="Datatable alert on No Data">
        <v-alert slot="no-data" :value="true" color="primary">There are no Records.</v-alert>
      </template>
    </v-data-table>
  </div>
</template>

<script>
export default {
  name: "zoneDataTableClientSide",
  props: {
    zTableTitle: {
      type: String,
      default: "Table"
    },

    zGetListAPI: {
      type: String,
      default: null
    },
    zTableData: {
      type: Array
    },
    zLoading: {
      type: String,
      default: "warning"
    },
    zHideTitle: {
      type: Boolean,
      default: false
    },
    zTableHeaders: {
      type: Array
    },
    zHideSearch: {
      type: Boolean,
      default: false
    },
    zHideHeaders: {
      type: Boolean,
      default: false
    },
    zHideFooter: {
      type: Boolean,
      default: false
    },
    zInfoButton: {
      type: Boolean,
      default: true
    },
    zNoInitialSort: {
      type: Boolean
    }
  },
  computed: {
    //Adds expand and action button column if zEdit, zExpand and zDelete is selected
    zHeadersModified() {
      let zHeadersModified = [];
      let expandHeader = {
        text: "",
        value: "",
        sortable: false,
        width: "4"
      };
      let actionHeader = {
        text: "Actions",
        value: "Action",
        align: "center",
        sortable: false,
        width: 220
      };

      if (this.zExpand) {
        this.zExpandEditDeleteHeaders.push(expandHeader);
      }

      this.zTableHeaders.map(header =>
        this.zExpandEditDeleteHeaders.push(header)
      );

      if (this.zEdit || this.zDelete) {
        this.zExpandEditDeleteHeaders.push(actionHeader);
      }

      zHeadersModified = this.zExpandEditDeleteHeaders;
      return zHeadersModified;
    },
    zSearchableColumns() {
      let zSearchableColumns = [];
      for (const key of this.zTableHeaders) {
        if (key.searchable) {
          zSearchableColumns.push({
            value: key.value,
            text: key.text
          });
        }
      }
      this.zSearchColumns = zSearchableColumns;
      return zSearchableColumns;
    }
  },
  data: function() {
    return {
      Search: null,
      Rows: [10, 50, 100],
      Loading: false,
      zExpandEditDeleteHeaders: []
    };
  },
  created() {
  
    this.GetData();
  },
  methods: {
    GetData() {
      var self = this;
      if (self.zGetListAPI != null) {
        self.$http
          .post(self.zGetListAPI)
          .then(response => {
            console.log(response.data.data);
            self.zTableData = response.data.data;
          })
          .catch(error => {
            console.log("errorr");
            console.log(error);
            alert(JSON.stringify(error));
          })
          .finally();
      }
    },
    //This ensures the data fields correlates with header fields to prevent missalignment
    zCorrelateDataToHeader(key) {
      let match = false;
      this.zTableHeaders.map(header => {
        console.log("Header:" + header.value + "  Key:" + key);
        if (header.value == key) {
          match = true;
        }
      });
      return match;
    },
    //Check if zHeaderTable has router link specified, if so add it
    zCheckRouterLink(key) {
      let routerLink = "";
      this.zTableHeaders.map(header => {
        if (header.value == key && header.zRouterLink !== "") {
          routerLink = header.zRouterLink;
        }
      });
      return routerLink;
    }
  }
};
</script>

<style>
.zSmall-icon {
  font-size: 12px;
}

.zSmall-fab {
  width: 25px;
  height: 25px;
}
</style>
