<template>
  <!--Refer to views/examples/form to see how component is used-->
  <div>
    <h5>{{label}}</h5>
    <div v-for="(data,index) in local_data" :key="index">
      <v-layout row wrap>
        <v-flex xs1 align-self-center>
          <v-icon v-on:click="promoteDemote(index,'promote')" v-if="index != 0">arrow_upward</v-icon>
          <v-icon
            v-on:click="promoteDemote(index,'demote')"
            v-if="index != local_data.length-1"
          >arrow_downward</v-icon>
        </v-flex>
        <v-flex xs10>
          <zone-form
            :zFormSchema="data"
            zOnChangeEventName="repeating-change-event"
            @repeating-change-event="zRepeatingChangeEvent($event,index)"
            :zSubmitFormButton="false"
          ></zone-form>
        </v-flex>
        <v-flex xs1 align-self-center>
          <v-btn small @click="Remove(index)">
            <v-icon>delete</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </div>
    <v-btn small @click="Add()">Add</v-btn>
  </div>
</template>
<script>
var lodash = require("lodash");
export default {
  name: "zoneFormRepeating",
  data() {
    return {
      VModel: [],
      local_data: []
    };
  },
  props: {
    zFormSchema: null,
    zVModel: null,
    label: null
  },
  methods: {
    Add() {
      //alert(JSON.stringify(this.zVModel));

      this.local_data.push(JSON.parse(JSON.stringify(this.zFormSchema)));
    },
    Remove(index) {
      this.local_data.splice(index, 1);
      this.VModel.splice(index, 1);
    },
    zRepeatingChangeEvent(event, index) {
      if (this.VModel[index] == null) {
        this.VModel.push(event);
      } else {
        this.VModel.splice(index, 1, event);
      }
      this.$emit("change-event", this.VModel);
    },
    fetchFromObject(obj, prop) {
      // if (typeof obj === "undefined") {
      //  return false;
      // }

      var _index = prop.indexOf(".");
      if (_index > -1) {
        return this.fetchFromObject(
          obj[prop.substring(0, _index)],
          prop.substr(_index + 1)
        );
      }

      return obj[prop];
    },
    promoteDemote: function(index, dir) {
      if (dir == "promote") {
        this.array_move(this.local_data, index, index - 1);
        this.array_move(this.VModel, index, index - 1);
      }
      if (dir == "demote") {
        this.array_move(this.local_data, index, index + 1);
        this.array_move(this.VModel, index, index - 1);
      }
      //   this.$emit("change-event", this.VModel);
      this.$forceUpdate();
    },
    array_move(arr, old_index, new_index) {
      while (old_index < 0) {
        old_index += arr.length;
      }
      while (new_index < 0) {
        new_index += arr.length;
      }
      if (new_index >= arr.length) {
        var k = new_index - arr.length + 1;
        while (k--) {
          arr.push(undefined);
        }
      }
      arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
      return arr; // for testing purposes
    }
  },

  mounted() {
    let self = this;
    this.VModel = [];
    this.local_data = [];
    this.VModel = this.zVModel;
    if (!(this.VModel == null || this.VModel == "")) {
      Promise.all(
        this.VModel.map(async (vmodelitem, index) => {
          var clone = lodash.cloneDeep(self.zFormSchema);
          self.local_data.push(clone);
          self.local_data[index].map(item => {
            item.zVModel = this.fetchFromObject(
              self.zVModel[index],
              item.zApiKeyName
            );
          });
        })
      ).then(completed => {
        self.$store.commit("updateloading", false);
      });
    }
  }
};
</script>