<template>
    <div class="zoneSteps">
  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1 > 1" step="1">Name of step 1</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step :complete="e1 > 2" step="2">Name of step 2</v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">Name of step 3</v-stepper-step>
    </v-stepper-header>

    <v-stepper-items>
      <v-stepper-content step="1">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 2"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="2">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 3"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>

      <v-stepper-content step="3">
        <v-card
          class="mb-5"
          color="grey lighten-1"
          height="200px"
        ></v-card>

        <v-btn
          color="primary"
          @click="e1 = 1"
        >
          Continue
        </v-btn>

        <v-btn flat>Cancel</v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>

            <div>  {{stepcounter}}
           <slot :name="'slot' + steps" v-for="steps in numberofsteps">
               
           </slot>
        </div>
        <div class="stepbuttons" >
            <button type="button" v-if="stepcounter != 0" class="btn btn-sm" v-on:click="previousStep"><i class="fas fa fa-chevron-left"></i>
                Back </button>
            <button type="button" v-if="stepcounter != numberofsteps-1" class="btn btn-sm" v-on:click="nextStep"><i class="fas fa fa-chevron-right"></i>
                Next </button>
        </div>
    </div>
</template>
<script>
    export default {
        name: 'zoneSteps',
        data: function () {
            return {
                stepcounter: 0
            }
        },
        props: {
            numberofsteps: {
                type: String,
                default: "3"
            },
            showsteps: {
                type: Boolean,
                default: false
            }
        },
        methods: {
            nextStep: function()
            {
                this.stepcounter++;
            },
            previousStep: function()
            {
                this.stepcounter--;
            },

        }
    }
</script>