<template>
  <div>
    <v-layout row class="mt-3">
      <v-flex xs9>
        <v-card class="pa-2 elevation-10">
          <zoneBackgroundHeader :zHeaderTitle="fromHeader" class="mb-2"></zoneBackgroundHeader>
          <select :id="fromGUUID" class="select" size="8" name="from" multiple="multiple">
            <template v-for="(item, index) in options">
              <option :key="index" :value="item[options_id]">{{item[options_display]}}</option>
            </template>
          </select>
        </v-card>
      </v-flex>
      <v-flex xs1 class="ml-3 mr-3">
        <v-layout justify-center>
          <v-flex xs12>
            <v-btn block class="primary" @click="moveAll(options, selectedOptions)">
              <v-icon>fast_forward</v-icon>
            </v-btn>
            <v-btn block class="accent" @click="moveMultiple(fromGUUID, options, selectedOptions)">
              <v-icon>arrow_right</v-icon>
            </v-btn>
            <v-btn block class="accent" @click="moveMultiple(toGUUID, selectedOptions, options)">
              <v-icon>arrow_left</v-icon>
            </v-btn>
            <v-btn block class="primary" @click="moveAll(selectedOptions, options)">
              <v-icon>fast_rewind</v-icon>
            </v-btn>
            <v-btn block color="green" class="secondary--text" @click="save">
              Save
              <v-icon></v-icon>
            </v-btn>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex xs9>
        <v-card class="pa-2 elevation-10">
          <zoneBackgroundHeader :zHeaderTitle="toHeader" class="mb-2"></zoneBackgroundHeader>
          <select :id="toGUUID" name="to" class="select" size="8" multiple="multiple">
            <template v-for="(item, index) in selectedOptions">
              <option :key="index" :value="item[options_id]">{{item[options_display]}}</option>
            </template>
          </select>
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
const $ = window.$;
export default {
  props: {
    options_id: {
      type: String,
      default: "UUID"
    },
    options_display: {
      type: String,
      default: "name"
    },
    fromHeader: {
      type: String,
      default: "From"
    },
    toHeader: {
      type: String,
      default: "To"
    },
    fromGUUID: {
      type: String,
      default: "123"
    },
    toGUUID: {
      type: String,
      default: "456"
    }
  },
  data: () => ({
    options: [],
    selectedOptions: []
  }),

  methods: {
    getListBoxMulti(getURL) {
      let self = this;
      self.$store.commit("updateloading", true);
      this.$http
        .get(getURL)
        .then(response => {
          self.options = response.data.options;
          self.selectedOptions = response.data.selectedOptions;
          self.$store.commit("updateloading", false);
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({
            type: "error",
            timer: 1000,
            title: "Oops...",
            text: "Something went wrong! API Down or Network Error"
          });
        });
    },

    moveMultiple(elementID, fromArray, toArray) {
      var selectedValues = $("#" + elementID).val();
      selectedValues.map(item => {
        fromArray.map((i, index) => {
          if (i[this.options_id] == item) {
            toArray.push(fromArray[index]);
            fromArray.splice(index, 1);
          }
        });
      });
    },

    moveAll(fromArray, toArray) {
      fromArray.map((i, index) => {
        toArray.push(i);
      });

      fromArray.splice(0, fromArray.length);
    },
    save() {
      this.$emit("listBox", this.options, this.selectedOptions);
    }
  }
};
</script>
<style scoped>
.select {
  border-right: #cccccc thin solid;
  color: #666666;
  border-top: #cccccc thin solid;
  font-size: 10pt;
  border-left: #cccccc thin solid;
  border-bottom: #cccccc thin solid;
  font-family: verdana, arial;
  width: 100%;
  margin-top: 1px;
  margin-bottom: 1px;
  size: 1;
}
</style>