<template>
  <div id="zoneNotification">
    <v-btn block color="primary" dark @click="snackbar = true">Show Snackbar</v-btn>
    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      :right="x === 'right'"
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >
      {{ text }}
      <v-btn color="pink" flat @click="snackbar = false">Close</v-btn>
    </v-snackbar>
  </div>
</template>
<script>
export default {
  name: "zoneNotification",
  props: {
    zDark: {
      type: Boolean,
      default: false
    },
    zSmall: {
      type: Boolean,
      default: false
    },
    zLong: {
      type: Boolean,
      default: false
    },
    zFlat: {
      type: Boolean,
      default: false
    }
  }
};
</script>
