 <template>
  <div id="zoneModal">
    <h1>hello</h1>

    {{model}}
    <v-combobox
      v-model="model"
      :items="items"
      label="Select a favorite activity or create a new one"
    ></v-combobox>
  </div>
</template>

<script>
export default {
  name: "zoneTypeahead",
  data: function() {
    return {
      model: "Hello",
      items: ["Hello", "azxcc"]
    };
  },
  props: {}
};
</script>
<style>
</style>
