<template>
  <div>
    <v-layout row wrap>
      <v-flex xs2>
        <v-checkbox v-model="caseSensitive" label="Case Sensitive Search" :value="true" />
      </v-flex>
      <v-flex xs7>
        <v-text-field
          v-if="zSearch"
          v-model="search"
          :label="'Search '+zLabel"
          flat
          hide-details
          clearable
          clear-icon="mdi-close-circle-outline"
          append-icon="search"
        />
      </v-flex>
      <v-flex xs2 v-if="showchip">
        <v-chip dark close @input="resetSearchForm">Filtered results</v-chip>
      </v-flex>
    </v-layout>
    <br />
    <v-layout justify-space-between pa-3>
      <v-flex xs4>
        <v-treeview
          v-model="tree"
          :items="zTreeData"
          :item-key="zUUIDKey"
          :item-text="zTextKey"
          :item-children="zChildrenKey"
          :search="search"
          :filter="filter"
          :return-object="true"
          activatable
          active-class="grey lighten-4 indigo--text"
          selectable
          selected-color="red"
          open-on-click
          expand-icon="keyboard_arrow_down"
          on-icon="bookmark"
          off-icon="bookmark_border"
          @input="selected($event)"
        />
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex xs7>
        <v-scroll-y-transition mode="out-in">
          <div
            v-if="zSelection.length <= 0 && !createNew"
            class="title grey--text text--lighten-1 font-weight-light"
            style="align-self: center;"
          >
            <v-layout v-if="!zListSelector" row wrap>
              <v-flex xs6>
                <zoneButton zDark @click="createNew = true">Create New Family</zoneButton>
              </v-flex>
              <!-- Place Holders while theres no user selection. -->
            </v-layout>
            <br />
            <p v-if="!zListSelector">Select a Group and/or Sub-group to Edit.</p>
            <p v-else>Select a Group and/or Sub-group to Add.</p>
          </div>
          <!-- LIst Selector - Show user selection -->
          <v-card v-else-if="zListSelector && !createNew" class="pt-4 mx-auto" flat>
            <h3>Selection:</h3>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs10>
                  <v-chip
                    v-for="(item, index) in zSelection"
                    :key="index"
                    close
                    @input="removeFromSelection(item)"
                  >{{item[zTextKey]}}</v-chip>
                </v-flex>
              </v-layout>
              <br />
              <v-layout row wrap>
                <v-flex xs10>
                  <v-divider></v-divider>
                  <br />
                  <zoneButton zDark zLong @click="confirmSelection">Confirm Selection</zoneButton>
                  <zoneButton zLong @click="discardChanges = true">Clear selection</zoneButton>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <!-- Display form for creating a new family -->
          <v-card v-else-if="zSelection.length <= 0 && createNew" class="pt-4 mx-auto" flat>
            <v-card-text v-if="!zListSelector">
              <v-layout row wrap>
                <v-flex xs10>
                  <zoneForm
                    :zFormSchema="zNewItemSchema"
                    :zSubmitAPIURL="zSubmitAPIURL"
                    zSubmitEventName="submit"
                    zSubmitFormButton
                    @submit="showMe($event)"
                  />
                </v-flex>
              </v-layout>
              <v-layout align-end row>
                <v-flex xs5></v-flex>
                <v-flex px-2 xs5>
                  <zoneButton zDark zLong @click="createNew = false">cancel</zoneButton>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
          <!-- Display Data For Editing -->
          <v-card v-else class="pt-4 mx-auto" flat>
            <v-card-text v-if="!zListSelector">
              <v-layout v-for="selection in zSelection" :key="selection[zUUIDKey]" row wrap>
                <v-flex xs8 v-if="selection[zChildrenKey]">
                  <v-text-field
                    prepend-icon="edit"
                    :class="{'is-deleted': selection._deletedFlag}"
                    v-model="selection[zTextKey]"
                    :label="zTextKey"
                  />
                </v-flex>
                <!-- Action Buttuns for List(tree) main/parent items. -->
                <v-flex xs2 v-if="selection[zChildrenKey]">
                  <v-btn
                    v-if="!selection._deletedFlag"
                    color="red"
                    fab
                    small
                    @click="selection._deletedFlag = true"
                    :title="'Remove '+ zTextKey"
                  >
                    <v-icon>clear</v-icon>
                  </v-btn>
                  <v-btn
                    v-else
                    fab
                    dark
                    small
                    @click="selection._deletedFlag=false"
                    :title="'Restore '+ zTextKey"
                  >
                    <v-icon>undo</v-icon>
                  </v-btn>
                  <v-btn
                    v-if="!selection._deletedFlag && selection[zChildrenKey]"
                    fab
                    small
                    dark
                    @click="addChild(selection)"
                    :title="'Add '+ zChildrenKey"
                  >
                    <v-icon>add</v-icon>
                  </v-btn>
                </v-flex>
                <!-- If Data Object has Children display them.-->
                <v-flex
                  xs11
                  d-flex
                  ml-5
                  v-for="child in selection[zChildrenKey]"
                  :key="child[zUUIDKey]"
                >
                  <v-flex xs8>
                    <v-text-field
                      prepend-icon="edit"
                      :class="{'is-deleted': child._deletedFlag || selection._deletedFlag}"
                      v-model="child[zChildTextKey]"
                      :label="zChildTextKey"
                    />
                  </v-flex>
                  <!-- Only Show these option if user has not marked parent for deletion. -->
                  <v-flex xs2 v-if="!selection._deletedFlag">
                    <v-btn
                      v-if="!child._deletedFlag"
                      color="red"
                      fab
                      small
                      @click="removeChild(selection, child)"
                      :title="'Remove '+ zChildrenKey"
                    >
                      <v-icon>clear</v-icon>
                    </v-btn>
                    <v-btn
                      v-else
                      fab
                      dark
                      small
                      @click="child._deletedFlag = false"
                      :title="'Restore '+ zChildrenKey"
                    >
                      <v-icon>undo</v-icon>
                    </v-btn>
                  </v-flex>
                </v-flex>
              </v-layout>
              <!-- Button to add another child element in a list -->
              <!--v-layout row wrap>
                      <zoneButton zSmall zDark @click="addChild(zSelection[0])">
                        <v-icon>add</v-icon>
                      </zoneButton>
              </v-layout-->
            </v-card-text>
            <!-- Action buttons for Data/List Editting -->
            <v-layout row wrap>
              <v-flex xs5></v-flex>
              <v-flex xs5>
                <br />
                <zoneButton zLong @click="save">Save Changes</zoneButton>
                <br />
                <zoneButton zDark zLong @click="discardChanges=true">discard Changes</zoneButton>
              </v-flex>
            </v-layout>
          </v-card>
        </v-scroll-y-transition>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
export default {
  name: "zoneTreeView",
  props: {
    zLabel: {
      type: String,
      default: "Categories"
    },
    zListSelector: {
      type: Boolean,
      default: false
    },
    zShowSort: {
      type: Boolean
    },
    zUUIDKey: {
      type: String,
      default: "id"
    },
    zTextKey: {
      type: String,
      default: "name"
    },
    zChildrenKey: {
      type: String,
      default: "children"
    },
    zChildTextKey: {
      type: String,
      default: "name"
    },
    zParentUUIDKey: {
      type: String
    },
    zSearch: {
      type: Boolean
    },
    zAppendIcon: {
      type: String,
      default: "dropdown"
    },
    zTreeData: {
      type: Array
    },
    zNewItemSchema: {
      type: Array
    },
    zSubmitAPIURL: {
      type: String
    },
    zActionName: {
      type: String,
      default: "submit"
    }
  },
  data: () => ({
    search: "",
    active: [],
    tree: [],
    open: [],
    editable: [],
    familyList: [],
    showchip: false,
    createNew: false,
    zSelection: [],
    zActive: [],
    caseSensitive: null,
    discardChanges: false
  }),
  mounted: function() {
    //this.adjustChildrenkeys();
  },
  methods: {
    isArray(value) {
      return value && typeof value === "object" && value.constructor === Array;
    },
    resetSearchForm(input) {
      this.search = "";
      this.showchip = false;
    },
    //Adjust Children key names if they are not the same as the parrent ken names.
    //Vuetify Treeview does not cater for different key names on different levels.
    adjustChildrenkeys() {
      var self = this;
      if (self.zTextKey == self.zChildTextKey) return;
      self.zTreeData.forEach(function(data) {
        if (data[self.zChildrenKey]) {
          data[self.zChildrenKey].forEach(function(child) {
            child[self.zTextKey] = child[self.zChildTextKey];
          });
        }
      });
    },
    saveNewItem() {
      console.log(this.zNewItemSchema);
    },
    save() {
      var tempList = this.zSelection,
        self = this;
      //Remove uncesarry duplication caused by the default TreeView selection function.
      tempList.forEach(function(item) {
        if (item[self.zChildrenKey]) {
          item[self.zChildrenKey].forEach(function(child) {
            self.zSelection.forEach(function(selected) {
              if (selected[self.zUUIDKey] == child[self.zUUIDKey]) {
                self.zSelection = self.zSelection.filter(
                  ele => ele[self.zUUIDKey] !== child[self.zUUIDKey]
                );
              }
            });
          });
        }
      });
      if (self.zSubmitAPIURL != null) {
        var list = [];
        if (!isArray(self.zSelection)) {
          list.push(self.zSelection);
        } else {
          list = self.zSelection;
        }
        console.log(self.zSelection);
        //If API URL has been provided
        self.$store.commit("updateloading", true);
        self.$http
          .put(self.zSubmitAPIURL, list)
          .then(response => {
            console.log(response.data);
            self.$store.commit("updateloading", false);
          })
          .catch(error => {
            self.$store.commit("updateloading", false);
            Swal.fire({
              type: "error",
              title: "Oops...",
              text: "Something went wrong!"
            });
          });
      } else {
        //If no API URL has been provided emit back yo the parent the event with the edited fields.
        self.$emit(self.zActionName, self.zSelection);
      }
    },
    //Method emits user selection list back to the parent elemet (Array)
    confirmSelection() {
      this.$emit(this.zActionName, this.zSelection);
    },
    removeFromSelection(ele) {
      this.zSelection = this.zSelection.filter(
        item => item.zUUIDKey !== ele.zUUIDKey
      );
    },
    // Manage the list of selection.
    selected(event) {
      this.zSelection = event;
    },
    showMe(ev) {
      this.createNew = false;
      this.$emit(this.zActionName, ev);
    },
    // Add a new empty sub-category(level 2 element) into the current array.
    addChild(parent) {
      var self = this;
      parent[self.zChildrenKey].unshift({
        [self.zParentUUIDKey]: parent[self.zUUIDKey]
      });
    },
    //Used to remove empty fields on delete and mark for deletion if the
    //Sub-category/ child was already existing.
    removeChild(parent, child) {
      console.log(child);
      console.log(parent);
      var key = this.zChildTextKey;
      if (!child[this.zUUIDKey])
        parent[this.zChildrenKey] = parent[this.zChildrenKey].filter(
          node => node[key] !== child[key]
        );
      else child._deletedFlag = true;
    }
  },
  computed: {
    filter() {
      this.adjustChildrenkeys();
      if (this.search == "") {
        this.showchip = false;
      } else {
        this.showchip = true;
      }
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    }
  }
};
</script>
<style>
.is-deleted {
  text-decoration: line-through;
  color: red;
}
</style>
>