<template>
  <div>
    <div class="title">
      <h1>
        <a href="https://github.com/emiliorizzo/vue-d3-network">vue-d3-network</a>
        <small>custom icons example</small>
      </h1>
      <p>Click on node to change icon</p>
    </div>
    <v-layout row>
      <v-flex xs12>
        <v-card>
          <d3-network
            ref="net"
            :net-nodes="nodes"
            :net-links="links"
            :options="options"
            @node-click="changeIcon"
          />
        </v-card>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import D3Network from "vue-d3-network";
import icon from "../../assets/icons/accesspoint.svg?raw";

export default {
  components: {
    D3Network
  },
  data() {
    return {
      svgCustom: "",
      nodes: [],
      links: [],
      nodeSize: 20,
      canvas: false
    };
  },
  computed: {
    options() {
      return {
        force: 1500,

        size: { w: 1800, h: 1200 },
        nodeSize: this.nodeSize,
        nodeLabels: true,
        canvas: this.canvas,
        linkWidth: 5,
        linkLabels: true,
        strLinks: true
      };
    }
  },
  created() {
    this.loadIcons(icon);
  },

  methods: {
    loadIcons(path) {
      var self = this;

      $.ajax(path, {
        dataType: "text",
        success: function(data) {
          self.svgCustom = data;
          self.svgCustom = self.svgCustom.replace(/(\r\n|\n|\r)/gm, "");
          self.nodes.push(
            {
              id: 1,
              name: "abc",
              svgSym: self.svgCustom
            },
            {
              id: 2,
              name: "cde",
              svgSym: self.svgCustom
            },
            {
              id: 3,
              name: "234234",
              svgSym: self.svgCustom
            }
          );
          self.links.push(
            {
              id: 1,
              sid: 1,
              tid: 2,
              _color: "red",
              name: "Site A"
            },
            {
              id: 2,
              sid: 2,
              tid: 3,
              _color: "green",
              name: "Site B"
            },
            {
              id: 1,
              sid: 1,
              tid: 2,
              _color: "orange",
              name: "Site A-2"
            },
            {
              id: 3,
              sid: 1,
              tid: 2,
              _color: "blue"
            }
          );
        }
      });

      return self.svgCustom;
    },
    changeIcon(event, node) {
      console.log(node);
      console.log(event);
      var self = this;

      node = Object.assign(node, {
        svgSym: self.svgCustom,
        svgIcon: null,
        svgObj: null
      });

      this.$set(this.nodes, node.index, node);
    }
  }
};
</script>

<style scoped>
@import url("https://fonts.googleapis.com/css?family=PT+Sans");

body {
  font-family: "PT Sans", sans-serif;
  background-color: #eee;
}
.title {
  position: absolute;
  text-align: center;
  left: 2em;
}
h1,
a {
  color: #1aad8d;
  text-decoration: none;
}

ul.menu {
  list-style: none;
  position: absolute;
  z-index: 100;
  min-width: 20em;
  text-align: left;
}
ul.menu li {
  margin-top: 1em;
  position: relative;
}

#m-end path,
#m-start {
  fill: rgba(18, 120, 98, 0.8);
}

.title {
  margin-bottom: 3em;
}
</style>