<template>
  <div id="zoneTabs">
    <v-tabs :grow="zGrow ? true : false" v-model="active">
      <v-tab ripple v-for="(index,tab) in zTabs" :key="index">{{tab.title}}</v-tab>
      <v-tab-item v-for="n in 5" :key="n">
        <v-card flat>
          <v-card-text>{{ text }}</v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
  </div>
</template>

<script>
export default {
  name: "zoneTabs",
  props: {
    zGrow: Boolean,
    zTabs: Object
  }
};
</script>
<style>
</style>
