<template>
  <!--Refer to views/examples/form to see how component is used-->
  <v-form ref="form" v-model="valid" onSubmit="return false;">
    <v-layout row wrap :class="zNoPadding == true ? '' : 'py-2 px-4'">
      <!--each field will be wrapped consume 3 colums on md size and have padding of 2 x 2-->
      <v-flex
        v-for="(f, index) in zFormSchema"
        :class="f.zFlex == null && f.zFlexNumber != null ? 'xs' + f.zFlexNumber + ' pr-1' : f.zFlex == 'small' ? 'xs12 sm12 md3 lg3 pa-1' : f.zFlex == 'medium' ? 'xs12 sm12 md6 lg6 pa-1' : 'xs12 sm12 md12 lg12 pa-1'"
        :key="index"
      >
        <v-layout row wrap>
          <v-flex v-if="zShowSort" xs1 align-self-center>
            <v-icon v-on:click="promoteDemote(index,'promote')" v-if="index != 0">arrow_upward</v-icon>
            <v-icon
              v-on:click="promoteDemote(index,'demote')"
              v-if="index != zFormSchema.length-1"
            >arrow_downward</v-icon>
          </v-flex>
          <v-flex :class="zShowSort == true ? 'xs11' : 'xs12'">
            <template v-if="f.zHidden != true">
              <!--TextInput or number fields-->
              <v-text-field
                v-if="f.zInputType=='text' || f.zInputType=='number'"
                v-model="f.zVModel"
                :required="f.zRequired"
                box
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :label="f.zLabel"
                :clearable="f.zClearable"
                :counter="f.zCounter"
                :diabled="f.zDisabled"
                :placeholder="f.zPlaceholder"
                :prefix="f.zPrefix"
                :mask="f.zCustomeMask"
                :return-masked-value="f.zReturnMaskedValue"
                :suffix="f.zSuffix"
                :readonly="f.zReadOnly"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ? passwordRules : f.zValidation == 'name' ? nameRules : f.zValidation == 'characterOnly' ? characterOnlyRules : []"
                :type="f.zMask == true ? 'password' : f.zInputType"
                :value="f.zValue"
              ></v-text-field>

              <h5 v-if="f.zInputType=='header'">{{f.zLabel}}</h5>
              <input
                type="file"
                v-if="f.zInputType=='file'"
                :required="f.zRequired"
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :label="f.zLabel"
                :clearable="f.zClearable"
                :counter="f.zCounter"
                :diabled="f.zDisabled"
                :placeholder="f.zPlaceholder"
                :prefix="f.zPrefix"
                :mask="f.zCustomeMask"
                box
                :suffix="f.zSuffix"
                :readonly="f.zReadOnly"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ?  passwordRules : f.zValidation == 'name' ?  nameRules : []"
                :value="f.zValue"
              />
              <zonePeoplePicker 
              v-if="f.zInputType == 'peoplePicker'"
              :zGroupName="f.zGroupName" 
              :zVModel="f.zVModel"
              :required="f.zRequired"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :label="f.zLabel"
                @change-event="PeoplePickerEvent($event, f)"
                :clearable="f.zClearable"
                :counter="f.zCounter"
                :diabled="f.zDisabled"
                :zFormSchema="f"
                box
                :placeholder="f.zPlaceholder"
                 :rules="f.zValidation == 'email' ? emailRules :f.zValidation == 'name' ? nameRules: []"
                :value="f.zValue"

               :zMultiselect="f.zMultiselect" >
              </zonePeoplePicker> 
              <!--TextInput or number fields-->
              <v-textarea
                v-if="f.zInputType=='textarea'"
                v-model="f.zVModel"
                :required="f.zRequired"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :label="f.zLabel"
                @change="zOnChangeEvent"
                :clearable="f.zClearable"
                :counter="f.zCounter"
                :diabled="f.zDisabled"
                box
                :placeholder="f.zPlaceholder"
                :prefix="f.zPrefix"
                :suffix="f.zSuffix"
                :readonly="f.zReadOnly"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'description' ? descriptionRules : f.zValidation == 'password' ? passwordRules : f.zValidation == 'name' ?  nameRules : []"
                :type="f.zMask == true ? 'password' : f.zInputType"
                :value="f.zValue"
              ></v-textarea>

              <!--Dropdown Select Single/Multiple fields-->

              <v-select
                v-if="f.zInputType=='select'"
                v-model="f.zVModel"
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :items="f.zSelectOptions"
                :label="f.zLabel"
                box
                :disabled="f.zDisabled"
                :multiple="f.zSelectMultiple"
                :item-text="f.zSelectItemText"
                :item-value="f.zSelectItemValue"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ? passwordRules :  f.zValidation == 'required' ? requiredRules : nameRules"
                required
              ></v-select>

              <!--Search Select Single-->
              <v-autocomplete
                v-if="f.zInputType=='searchSelect'"
                v-model="f.zVModel"
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :items="f.zSelectOptions"
                box
                :label="f.zLabel"
                :disabled="f.zDisabled"
                :multiple="f.zSelectMultiple"
                :item-text="f.zSelectItemText"
                :item-value="f.zSelectItemValue"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ? passwordRules :  f.zValidation == 'required' ? requiredRules : f.zValidation == 'name' ?  nameRules : []"
                required
              ></v-autocomplete>

              <!--Combobox-->
              <v-combobox
                v-if="f.zInputType=='combobox'"
                :items="f.zSelectOptions"
                :label="f.zLabel"
                :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ? passwordRules :  f.zValidation == 'required' ? requiredRules : nameRules"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                @change="zOnChangeEvent"
                editable
                v-model="f.zVModel"
                :item-text="f.zSelectItemText"
                :item-value="f.zSelectItemValue"
                required
                box
                :return-object="f.zReturnObject"
              ></v-combobox>

              <!--Checkbox fields-->
              <v-checkbox
                v-if="f.zInputType=='checkbox' "
                :label="f.zLabel"
                v-model="f.zVModel"
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :disabled="f.zDisabled"
                :mandatory="f.zForceSelection"
                :readonly="f.zReadonly"
                :value="f.zValue"
                box
              ></v-checkbox>

              <!--Switch fields-->
              <v-switch
                v-if="f.zInputType=='switch' "
                :label="f.zLabel"
                v-model="f.zVModel"
                @change="zOnChangeEvent"
                :append-icon="f.zAppendIcon"
                :prepend-icon="f.zPrependIcon"
                :disabled="f.zDisabled"
                :mandatory="f.zForceSelection"
                :readonly="f.zReadonly"
                :value="f.zValue"
                box
              ></v-switch>

              <!--Radio fields-->
              <v-radio-group v-model="f.zVModel" column v-if="f.zInputType=='radio' ">
                <v-radio
                  :label="radio.zLabel"
                  :value="radio.zValue"
                  @change="zOnChangeEvent"
                  v-for="radio in f.zRadioArray"
                  :key="radio.id"
                  box
                ></v-radio>
              </v-radio-group>

              <!--Nested Form-->
              <h5 v-if="f.zInputType=='form'">{{f.zLabel}}</h5>
              <zoneForm
                :zVModel="f.zVModel"
                :label="f.zLabel"
                v-if="f.zInputType=='form'"
                :zFormSchema="f.zFormSchema"
                zOnChangeEventName="change-event"
                @change-event="zChangeEvent($event,f)"
                :zSubmitFormButton="false"
              ></zoneForm>

              <!--Repeating Form-->
              <zoneFormRepeating
                :zVModel="f.zVModel"
                :label="f.zLabel"
                v-if="f.zInputType=='formRepeating'"
                :zFormSchema="f.zFormSchema"
                @change-event="zChangeEvent($event,f)"
                :zSubmitFormButton="false"
              ></zoneFormRepeating>

              <!--Lookup Form-->
              <zoneFormlookup
                :zLookupKeyName="f.zApiKeyName"
                :zVModel="f.zVModel"
                :label="f.zLabel"
                :zLookupHidden="f.zLookupHidden"
                v-if="f.zInputType=='formLookup'"
                @change-selectOptions="zChangeselectOptions($event,f)"
                @lookup-change-event="zChangeEventLookup($event,f)"
                @change-LookupFields="zChangeEventLookupFields($event,f)"
                :zSubmitFormButton="false"
                :zLookupUUID="f.zLookupUUID"
              ></zoneFormlookup>

              <!--zDateFormat Picker-->
              <template v-if="f.zInputType=='datePicker' ">
                <v-menu
                  :close-on-content-click="false"
                  v-model="f.datePickerToggle"
                  :nudge-right="40"
                  lazy
                  @change="zOnChangeEvent"
                  transition="scale-transition"
                  offset-y
                  full-width
                  min-width="290px"
                >
                  <v-text-field
                    slot="activator"
                    v-model="f.zVModel"
                    :label="f.zLabel"
                    :value="f.zValue"
                    box
                    @change="zOnChangeEvent"
                    prepend-icon="event"
                    :rules="f.zValidation == 'email' ? emailRules : f.zValidation == 'password' ? passwordRules :  f.zValidation == 'required' ? requiredRules : nameRules"
                    readonly
                  ></v-text-field>
                  <v-date-picker
                    @change="zOnChangeEvent"
                    v-model="f.zVModel"
                    @input="f.datePickerToggle = false"
                    :readonly="f.zReadOnly"
                    >
                  </v-date-picker>datePicker
                </v-menu>
              </template>

              <!--Dynamic component-->
              <component v-if="f.component" v-bind:is="f.component"></component>

              <!--Dynamic Field Buttons-->
              <template v-if="f.zDynamicField==true">
                <v-btn
                  small
                  @click="zFormSchema.splice(index, 1)"
                  :disabled="f.zFieldCount <= 1 ? true : false"
                >Remove</v-btn>
                <v-btn
                  small
                  @click="zFormSchema.push(
              { 
                zFlex: f.zFlex,
                zFieldCount: f.zFieldCount + 1,
                zVModel: f.zVModel,
                zRequired: f.zRequired,
                zAppendIcon: f.zAppendIcon,
                zPrependIcon: f.zPrependIcon,
                zLabel: f.zLabel,
                zClearable: f.zClearable,
                zCounter: f.zCounter,
                zDisabled: f.zDisabled,
                zMask: f.zMask,
                zPlaceholder: f.zPlaceholder,
                zPrefix: f.zPrefix,
                zSuffix: f.zSuffix,
                zReadOnly: f.zReadonly,
                zValidation: f.zValidation,
                zInputType: f.zInputType,
                zSelectOptions: f.zSelectOptions,         
                zSelectMultiple: f.zSelectMultiple,
                zForceSelection: f.zForceSelection,
                zValue: f.zValue,
                zVModelDate: f.zVModelDate,
                zDatePickerToggle: f.zDatePickerToggle,
                zRadioArray: f.zRadioArray,
                zDynamicField: f.zDynamicField,
                zSelectItemText: f.zSelectItemText,
                zSelectItemValue: f.zSelectItemValue,
                zCustomeMask : f.zCustomeMask,
                zFormSchema : f.zFormSchema,
                zVisibleWhen: [],
                zReturnMaskedValue : f.zReturnMaskedValue,
                 zReturnObject: true
               }
            )"
                >Add</v-btn>
              </template>
            </template>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <!--Form Control Buttons-->
    <v-layout row justify-end py-2 px-2 v-if="zSubmitFormButton">
      <v-flex xs6 sm6 md6 lg6 py-2 px-2>
        <zone-button zLong @click="reset" zDark v-if="zClearFormButton">{{zClearName}}</zone-button>
      </v-flex>
      <v-flex xs6 sm6 md6 lg6 py-2 px-2>
        <zone-button
          zLong
          :zDisabled="!valid"
          v-if="zSubmitFormButton"
          @click="zOnSubmitEvent"
        >{{zSubmitName}}</zone-button>
      </v-flex>
    </v-layout>
  </v-form>
</template>
<script>
import { bus } from "../../eventBus.js";
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";

export default {
  name: "zoneForm",
  props: {
    zClearFormButton: {
      type: Boolean,
      default: false
    },
    zSubmitName: {
      type: String,
      default: "Submit"
    },
    zShowSort: {
      type: Boolean,
      default: false
    },
    zClearName: {
      type: String,
      default: "Clear"
    },
    zSubmitFormButton: {
      type: Boolean,
      default: true
    },
    zSubmitAPIURL: {
      type: String
    },
    zSubmitEventName: {
      type: String
    },
    zResetFormEventName: {
      type: String
    },
    zOnChangeEventName: {
      type: String,
      default: "ChangeEvent"
    },
    zNoPadding: {
      type: Boolean,
      default: false
    },
    zFormSchema: {
      type: Array,
      required: true,
      default: () => [
        {
          zApiKeyName: "asdf",
          zFlex: "small",
          zFieldCount: 1,
          zVisibleWhen: [],
          zVModel: "",
          zRequired: false,
          zAppendIcon: "",
          zPrependIcon: "",
          zLabel: "",
          zClearable: true,
          zCounter: 25,
          zMask: false,
          zCustomeMask: "",
          zPlaceholder: "",
          zPrefix: "",
          zSuffix: "",
          zDisabled: false,
          zReadOnly: false,
          zReturnObject: true,
          zValidation: "",
          zInputType: "text",
          zSelectOptions: [],
          zSelectMultiple: false,
          zForceSelection: false,
          zValue: "",
          zVModelDate: new Date().toISOString().substr(0, 10),
          zDatePickerToggle: false,
          zRadioArray: [],
          zDynamicField: false,
          zSelectItemText: "name",
          zSelectItemValue: "id",
          zHidden: false,
          zFormSchema: [],
          zLookupUUID: null,
          zReturnMaskedValue: false
        }
      ]
    }
  },
  created() {
    //Listen to reset form event and then clear form locally
    bus.$on(this.zResetFormEventName, data => {
      if (data === true) {
        this.$refs.form.reset();
      }
    });
    this.zOnChangeEvent();
  },
  methods: {
    PeoplePickerEvent(event, f){
      f.zVModel = event;
      this.zOnChangeEvent();
    },
    zChangeselectOptions(event, f) {
      if (f.zSelectOptions.length == 0) {
        f.zSelectOptions = event;
        this.zOnChangeEvent();
      }
    },
    
    zChangeEventLookup(event, f) {
      f.zVModel = event;
      this.zOnChangeEvent();
    },
    zChangeEvent(event, f) {
      f.zVModel = event;
      this.zOnChangeEvent();
    },
    zChangeEventLookupFields(event, f) {
      f.zLookupFields = event;
      this.zOnChangeEvent();
    },
      cleanData: function(data) {
      var list = [];
      data.forEach(element => {
        var log = {
          datelogged:
            dateformat(element.dateLogged, "yyyy-mm-dd ") +
            "  :: " +
            dateformat(element.dateLogged, "hh:mm"),
          userId: element.emailaddress,
          message: element.message
        };
        list.push(log);
      });
      return list;
    },
    //Emit an event and pass form data to component that is listening for the event
    zOnSubmitEvent() {
 
      let self = this;
      if (this.$refs.form.validate()) {
        //Converts to Object
        let zOnSubmitModel = {};
        for (const key of this.zFormSchema) {
          if (key.zVModel != null || key.zVModel != "") {
            zOnSubmitModel[key.zApiKeyName] = key.zVModel;
          }
        }
        if (this.zSubmitAPIURL != null) {
          this.$store.commit("updateloading", true);
          this.$http
            .put(this.zSubmitAPIURL, zOnSubmitModel) 
            .then(response => {
              self.$store.commit("updateloading", false);
              self.$emit("submit-event", zOnSubmitModel);
              
            })
            .catch(error => {
              this.$store.commit("updateloading", false);
              Swal.fire({
                type: "error",
                title: "Oops...",
                text: "Something went wrong!"
              });
            })
            .finally((this.zLoading = false));
        } else {
          self.$emit(self.zSubmitEventName, zOnSubmitModel);
        }
      }
    },

    promoteDemote: function(index, dir) {
      if (dir == "promote") {
        this.array_move(this.zFormSchema, index, index - 1);
      }
      if (dir == "demote") {
        this.array_move(this.zFormSchema, index, index + 1);
      }
      //   this.$emit("change-event", this.VModel);
      this.$forceUpdate();
    },
    array_move(arr, old_index, new_index) {
      while (old_index < 0) {
        old_index += arr.length;
      }
      while (new_index < 0) {
        new_index += arr.length;
      }
      if (new_index >= arr.length) {
        var k = new_index - arr.length + 1;
        while (k--) {
          arr.push(undefined);
        }
      }
      arr.splice(new_index, 0, arr.splice(old_index, 1)[0]);
      return arr; // for testing purposes
    },

    CheckzVisibleWhen() {
      for (const form of this.zFormSchema) {
        if (form.zVisibleWhen != null) {
          for (const con of form.zVisibleWhen) {
            for (const form2 of this.zFormSchema) {
              if (form2.zApiKeyName == con.Field) {
                if (form2.zVModel == con.Value) {
                  form.zHidden = false;
                } else {
                  form.zHidden = true;
                }
              }
            }
          }
        }
      }
    },
    UpdateModelIfLinkedNew(formfield) {
      if (formfield.zLinkedFields != null) {
        if (formfield.zLinkedFields.length != 0) {
          for (const zLinkedFieldskey of formfield.zLinkedFields) {
            var spilt = zLinkedFieldskey.zApiKeyName.split(":");
            if (spilt.length > 1) {
              var findNameIndex = this.zFormSchema.findIndex(
                x => x.zApiKeyName == spilt[0]
              );
              var field = this.zFormSchema[findNameIndex];
              if (field.zVModel != null) {
                var subkeybegin = field.zVModel
                  .substr(0, field.zVModel.indexOf("-"))
                  .split(":");
                var subkeyend = field.zVModel.substr(
                  field.zVModel.indexOf("-")
                );
                subkeybegin[
                  field.zLookupFields.findIndex(
                    x => x.toLowerCase() == spilt[1].toLowerCase()
                  )
                ] = formfield.zVModel.toString().split("-")[0];
                if (field.zVModel != subkeybegin.join(":") + subkeyend) {
                  field.zVModel = subkeybegin.join(":") + subkeyend;
                }

                //Add to Hidden
                var alreadyexist = field.zLookupHidden.findIndex(
                  x =>
                    x.zApiKeyName.toLowerCase() ==
                    zLinkedFieldskey.zApiKeyName.toLowerCase()
                );
                if (alreadyexist == -1) {
                  field.zLookupHidden.push(zLinkedFieldskey);
                }
              }
            } else {
              findNameIndex = this.zFormSchema.findIndex(
                x => x.zApiKeyName == zLinkedFieldskey.zApiKeyName
              );
              this.zFormSchema[findNameIndex].zVModel = formfield.zVModel;
            }
          }
        }
      }
    },

    //Emit an event and pass all fields
    zOnChangeEvent() {
      let self = this;
      if (this.zFormSchema != null) {
        self.CheckzVisibleWhen();
        const zOnChangeModel = {};
        for (const key of this.zFormSchema) {
          self.UpdateModelIfLinkedNew(key);

          zOnChangeModel[key.zApiKeyName] = key.zVModel;
        }
        self.$emit(this.zOnChangeEventName, zOnChangeModel);
      }
    },

    reset() {
      this.$refs.form.reset();
    }
  },
  data() {
    return {
      //Form Validation
      valid: true,
      requiredRules: [v => !!v || "Field is required"],
      nameRules: [
        v => !!v || "Field is required",
        v => (v && v.length <= 50) || "Name must be less than 50 characters"
      ],
      characterOnlyRules: [
        v => !!v || "Field is required",
        v => /^([^0-9]*)$/.test(v) || "Numbers are not allowed"
      ],
      descriptionRules: [
        v => !!v || "Field is required",
        v =>
          (v && v.length <= 11500) ||
          "Description must be less than 11500 characters"
      ],
      emailRules: [
        v => !!v || "E-mail is required",
        v => /.+@.+/.test(v) || "E-mail must be valid"
      ],
      passwordRules: [
        v =>
          (v || "").match(
            /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*(_|[^\w])).+$/
          ) ||
          "Password must contain an upper case letter, a numeric character, and a special character"
      ]
    };
  }
};
</script>