<template>
  <div id="zoneButton">
    <v-btn
      v-on:click="$emit('click', $event)"
      :color="zDark ? 'primary' : 'accent'"
      :block="zLong ? true : false"
      :flat="zFlat ? true : false"
      :small="zSmall ? true : false"
      :large="zLarge ? true : false"
      :disabled="zDisabled ? true : false"
    >
      <slot></slot>
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "zoneButton",
  props: {
    zDark: {
      type: Boolean,
      default: false
    },
    zLarge: {
      type: Boolean,
      default: false
    },
    zSmall: {
      type: Boolean,
      default: false
    },
    zLong: {
      type: Boolean,
      default: false
    },
    zFlat: {
      type: Boolean,
      default: false
    },
    zDisabled: {
      type: Boolean,
      default: false
    }
  }
};
</script>
