<template>
    <div class="zoneAlert">
         <v-alert
      :value="true"
      :type="zType"
      class="text-md-center"
    >
      <slot></slot>
    </v-alert>
    </div>
</template>
<script>
    export default {
        name: 'zoneAlert',
        props: {
            zType: {
                default: null,
                type: String
            }
        }
    } 
    </script>