<template>
    <div id="zonePeoplePicker">
         <v-combobox
            :items="items"
            :label="zLabel"
            :rules="zValidation == 'required' ? requiredRules : []"
            :prepend-icon="zPrependIcon"
            @change="zOnChangeEvent($event)"                      
            v-model="zVModel"
            item-text="emailAddress"
            item-value="uuid"
            :multiple="zMultiselect"
            required
            box
            :return-object="true"
          ></v-combobox>
    </div>
</template>
<script>
export default {
  name: "zonePeoplePicker",
  props: {
    zVModel:{
        type: Array
    },
    zSelected: {
        default: ""
    },
    zValidation: {
      type: String,
      default: ""
    },
    zLabel: {
      type: String,
      default: "Pick Person"
    },
    zAppendIcon: {
      type: String,
      default: "dropdown"
    },
    zPrependIcon: {
      type: String,
      default: "person"
    },
    zGroupName: {
      type: String,
      default: "UCS"
    },
    zMultiselect: {
      type: Boolean
    },
    zExcludeCurrent: {
      type: Boolean,
      default: false
    }
  },
    data: () => ({
        items: [],
        requiredRules: [v => !!v || "Field is required"]
    }),
    mounted: function() {
        this.$http.get(this.$conf.api_platform + "v1/Group/groupIdByName?name=" + this.zGroupName).then(uuid => {
          this.$http.get(this.$conf.api_platform + "v1/Group/" + uuid.data).then(res => {
            this.items = res.data.lists;
            this.select = this.zSelected;
            if (this.zExcludeCurrent) {
              var counter = 0;
              this.items.forEach(element => {
                if (element.emailAddress.toLowerCase() == this.$store.state.user.emailaddress.toLowerCase()) {
                  this.items.splice(counter, 1);
                }
                counter++;
              });
            }
            
            this.items.sort(function(a, b) {
              if (a.emailAddress.toLowerCase() > b.emailAddress.toLowerCase())
                return 1
              else if (a.emailAddress.toLowerCase() < b.emailAddress.toLowerCase())
                return - 1
              else
                return 0
            });
          })
        })
        .catch(error => {
          this.$toastr.error("PeoplePicker Error", "People picker failed to load");
        })
  
    },
    methods: {
        zOnChangeEvent(event) {
          this.$emit('change-event', event);
        }
    },
    computed: {
    filter () {
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined
    }
  }
};
</script>