<template>
  <div>
    <v-layout row wrap>
      <v-flex xs12>
        <zoneModal
          v-if="!zListSelector"
          :zDialog="zDialog"
          :zModalTitle="'Create '+ zLabel"
          :zButtonLabel="'New '+ [zTextKey]"
          @open="zDialog=!zDialog"
          @close="zDialog=!zDialog"
        >
          <!-- Display form for creating a new family -->
          <v-card class="pt-4 mx-auto" flat>
            <v-card-text v-if="!zListSelector">
              <v-layout row wrap>
                <v-flex xs10>
                  <zoneForm
                    :zFormSchema="zNewItemSchema"
                    :zSubmitAPIURL="zSubmitAPIURL"
                    zSubmitFormButton
                  />
                </v-flex>
              </v-layout>
              <v-layout align-end row>
                <v-flex xs5></v-flex>
                <v-flex px-1 xs5>
                  <zoneButton zDark zLong @click="createNew = false">cancel</zoneButton>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </zoneModal>
      </v-flex>
      <br />
      <v-flex xs4 ml-4>
        <v-text-field
          v-if="zSearch"
          v-model="search"
          :label="'Search '+zLabel"
          flat
          hide-details
          clearable
          clear-icon="mdi-close-circle-outline"
          append-icon="search"
        />
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex ml-3 xs1 v-if="showchip">
        <zoneButton
          zSmall
          :zDark="!caseSensitive ? true:false"
          @click="caseSensitive=!caseSensitive"
        >
          Case sensitivity
          <v-icon v-if="caseSensitive">check_circle</v-icon>
        </zoneButton>
      </v-flex>
      <v-flex ml-5 v-if="showchip">
        <zoneButton zSmall zDark @click="resetSearchForm">
          Filtered results
          <v-icon>cancel</v-icon>
        </zoneButton>
      </v-flex>
    </v-layout>
    <br />
    <v-layout justify-space-between pa-3>
      <v-flex xs4 md4>
        <v-treeview
          v-model="tree"
          :items="zTreeData"
          :item-key="zUUIDKey"
          :item-text="zTextKey"
          :item-children="zListSelector ? undefined :zChildrenKey"
          :search="search"
          :filter="filter"
          :selectable="zListSelector? true:false"
          selected-color="red"
          @input="selected($event)"
          :return-object="true"
          :open.sync="zListSelector ? [] :open"
          expand-icon="keyboard_arrow_down"
          on-icon="bookmark"
          off-icon="bookmark_border"
        >
          <template v-if="!zListSelector" v-slot:label="{item, open}">
            <v-layout row wrap v-if="item[zChildrenKey]">
              <v-flex xs9>
                <v-text-field
                  :class="{'is-deleted': item._deletedFlag}"
                  v-model="item[zTextKey]"
                  :label="zTextKey"
                ></v-text-field>
              </v-flex>
              <v-flex xs1 mt-2>
                <v-btn flat icon @click="addChild(item)" color="black">
                  <v-icon :title="'Add '+ [zChildTextKey]">add</v-icon>
                </v-btn>
              </v-flex>
              <v-flex xs1 mt-2>
                <v-btn flat icon @click="editExistingItem(item.id)" color="black">
                  <v-icon title="Save Changes">save</v-icon>
                </v-btn>
              </v-flex>
              <v-flex xs1 mt-2>
                <v-btn flat icon @click="item._deletedFlag = !item._deletedFlag">
                  <v-icon
                    :title="'Delete '+ [zTextKey]"
                    color="red"
                    v-if="!item._deletedFlag"
                  >delete</v-icon>
                  <v-icon :title="'Restore '+ [zTextKey]" color="black" v-else>undo</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
            <v-layout row wrap v-if="!item[zChildrenKey]">
              <v-flex xs11>
                <v-text-field
                  :class="{'is-deleted': item._deletedFlag}"
                  v-model="item[zChildTextKey]"
                  :label="zChildTextKey"
                />
              </v-flex>
              <v-flex xs1 mt-2>
                <v-btn flat icon @click="removeChild(item[zParentUUIDKey], item)">
                  <v-icon
                    :title="'Delete '+ [zChildTextKey]"
                    color="red"
                    v-if="!item._deletedFlag"
                  >delete</v-icon>
                  <v-icon :title="'Restore '+ [zChildTextKey]" color="black" v-else>undo</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
          </template>
          <template v-else-if="zListSelector" v-slot:label="{item}">
            <v-layout row wrap>
              <v-flex sm12>
                <span :title="item[zDescriptionKey]">{{item[zTextKey]}}</span>
                <!--br/>
                <small :title="test"> {{item[zDescriptionKey]}} </small-->
              </v-flex>
            </v-layout>
          </template>
        </v-treeview>
      </v-flex>
      <v-divider vertical></v-divider>
      <v-flex xs7>
        <v-scroll-y-transition mode="out-in">
          <!-- LIst Selector - Show user selection -->
          <v-card v-if="zListSelector" class="pt-4 mx-auto" flat>
            <h3>Selection:</h3>
            <v-card-text>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-chip
                    v-for="(item, index) in zSelection"
                    :key="index"
                    close
                    @input="removeFromSelection(item)"
                  >{{item[zTextKey]}}</v-chip>
                </v-flex>
              </v-layout>
              <br />
              <v-layout row wrap>
                <v-flex xs12>
                  <v-divider></v-divider>
                  <br />
                  <zoneButton zDark zLong @click="confirmSelection">Confirm Selection</zoneButton>
                  <zoneButton zLong @click="resetSelection($event)">Clear selection</zoneButton>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-scroll-y-transition>
      </v-flex>
    </v-layout>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
export default {
  name: "zoneTreeView",
  props: {
    zLabel: {
      type: String,
      default: "Categories"
    },
    zListSelector: {
      type: Boolean,
      default: false
    },
    zListItemdescription: {
      type: String
    },
    zShowSort: {
      type: Boolean
    },
    zUUIDKey: {
      type: String,
      default: "id"
    },
    zTextKey: {
      type: String,
      default: "name"
    },
    zDescriptionKey: {
      type: String,
      default: "No description for this list Item"
    },
    zChildrenKey: {
      type: String,
      default: "children"
    },
    zChildTextKey: {
      type: String,
      default: "name"
    },
    zParentUUIDKey: {
      type: String
    },
    zSearch: {
      type: Boolean
    },
    zAppendIcon: {
      type: String,
      default: "dropdown"
    },
    zTreeData: {
      type: Array
    },
    zNewItemSchema: {
      type: Array
    },
    zSubmitAPIURL: {
      type: String
    },
    zSubmitEventName: {
      type: String,
      default: "submit"
    }
  },
  data: () => ({
    search: "",
    test:
      "AxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxA\n" +
      "BxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxB\n" +
      "CxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxC\n" +
      "DxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxD\n",
    active: [],
    tree: [],
    open: [],
    value: [],
    zDialog: false,
    treeClone: null,
    editable: [],
    familyList: [],
    showchip: false,
    createNew: false,
    zSelection: [],
    caseSensitive: false,
    discardChanges: false
  }),
  mounted: function() {
    //this.adjustChildrenkeys();
  },
  methods: {
    showMe(eve) {
      console.log(this.caseSensitive);
      console.log(eve);
    },
    zDynamicIcon(state) {
      if (state) return "undo";
      return "delete";
    },
    resetSearchForm(input) {
      this.search = "";
      this.showchip = false;
      this.caseSensitive = false;
    },
    //Adjust Children key names if they are not the same as the parrent key names.
    //Vuetify Treeview does not cater for different key names on different levels.
    adjustChildrenkeys() {
      var self = this;
      if (self.zTextKey == self.zChildTextKey) return;
      self.zTreeData.forEach(function(data) {
        if (data[self.zChildrenKey]) {
          data[self.zChildrenKey].forEach(function(child) {
            child[self.zTextKey] = child[self.zChildTextKey];
          });
        }
      });
    },
    saveNewItem() {
      console.log(this.zNewItemSchema);
    },
    editExistingItem(element) {
      var self = this;
      if (self.zSubmitAPIURL != null) {
        var list = [];
        if (!isArray(element)) {
          list.push(element);
        } else {
          list = element;
        }
        console.log(element);
        //If API URL has been provided
        self.$store.commit("updateloading", true);
        self.$http
          .put(self.zSubmitAPIURL, list)
          .then(response => {
            console.log(response.data);
            self.$store.commit("updateloading", false);
          })
          .catch(error => {
            self.$store.commit("updateloading", false);
            Swal.fire({
              type: "error",
              title: "Oops...",
              text: "Something went wrong!"
            });
          });
      } else {
        //If no API URL has been provided emit back yo the parent the event with the edited fields.
        self.$emit(self.zActionName, element);
      }
    },
    /* These methods are used to manipulate data when handling the LIST SELECTOR */

    resetSelection(eve) {
      this.tree = [];
      // this.value = [];
    },
    //Method emits user selection list back to the parent elemet (Array)
    confirmSelection() {
      this.$emit(this.zSubmitEventName, this.zSelection);
      //this.$router.push({ name: "componentStepper" });
    },
    removeFromSelection(ele) {
      this.zSelection = this.zSelection.filter(
        item => item[this.zUUIDKey] !== ele[this.zUUIDKey]
      );
    },
    // Manage the list of selection.
    selected(event) {
      this.zSelection = event;
    },
    // Add a new empty sub-category(level 2 element) into the current array.
    addChild(parent) {
      var self = this;
      parent[this.zChildrenKey].unshift({
        [self.zParentUUIDKey]: parent[this.zUUIDKey],
        [self.zChildTextKey]: "",
        [self.zUUIDKey]: null
      });
    },
    //Used to remove empty fields on delete and mark for deletion if the
    //Sub-category/ child was already existing.
    removeChild(parentID, child) {
      if (child[this.zUUIDKey] != null && child._deletedFlag != undefined)
        child._deletedFlag = !child._deletedFlag;
      else {
        var self = this;
        this.zTreeData.forEach(function(item) {
          if (item[self.zUUIDKey] == parentID) {
            var clone = item;
            clone[self.zChildrenKey].forEach(function(node) {
              if (node[self.zChildTextKey] == child[self.zChildTextKey]) {
                console.log(item);
                item[self.zChildrenKey] = item[self.zChildrenKey].filter(
                  x => x != node
                );
                return;
              }
            });
          }
        });
      }
    }
  },
  computed: {
    filter() {
      this.adjustChildrenkeys();
      if (this.search == "") {
        this.showchip = false;
      } else {
        this.showchip = true;
      }
      if (this.open.length > 0) {
        var current = this.open[this.open.length - 1];
        this.open = [];
        this.open.push(current);
      }
      return this.caseSensitive
        ? (item, search, textKey) => item[textKey].indexOf(search) > -1
        : undefined;
    }
  }
};
</script>
<style>
.is-deleted {
  text-decoration: line-through;
  color: red;
}
</style>
>