<template>
  <div id="zoneRobot">
    <v-layout v-if="!noName" row wrap>
      <img v-bind:src="getrobots(model)" v-bind:title="name" />
    </v-layout>
    <v-layout v-if="noName" row wrap class="center">
      <img v-if="robotByText" v-bind:src="getRobotsByStatus(name)" v-bind:title="name" />
    </v-layout>
    <v-layout else v-for="(data, key) in Legend" :key="key" row wrap>
      <v-flex class="text-xs-center" xs1>
        <img v-if="robotByText" v-bind:src="getRobotsByStatus(data.name)" v-bind:title="name" />
        <img v-else v-bind:src="getrobots(data.model)" v-bind:title="data.name" />
      </v-flex>
      <v-flex class="text-xs-center" xs6>{{data.name}}</v-flex>
    </v-layout>
  </div>
</template>
<script>
import yellow from "../../assets/img/robots/yellow.png";
import green from "../../assets/img/robots/green.png";
import amber from "../../assets/img/robots/amber.png";
import red from "../../assets/img/robots/red.png";
import grey from "../../assets/img/robots/grey.png";

export default {
  name: "zoneRobot",
  props: {
    model: {
      default: "",
      type: String
    },
    robotByText: {
      default: false,
      type: Boolean
    },
    noName: {
      default: true,
      type: Boolean
    },
    name: {
      type: String
    },
    Legend: {
      type: Array
    }
  },
  created() {},
  methods: {
    getrobots: function(params) {
      var link = "";
      if (params != undefined) {
        params = params.toString();
      }

      switch (params) {
        case "4":
          link = yellow;
          break;
        case "3":
          link = green;
          break;
        case "2":
          link = amber;
          break;
        case "1":
          link = red;
          break;
        case "0":
          link = grey;
          break;
      }

      return link;
    },
    getRobotsByStatus: function(status) {
      var link = "";

      switch (status) {
        case "Minor Issues":
          link = yellow;
          break;
        case "No Issues":
          link = green;
          break;
        case "Issues":
          link = amber;
          break;
        case "Critical Issues":
          link = red;
          break;
        case "":
          link = grey;
          break;
      }
      return link;
    }
  }
};
</script>
<style>
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
</style>
>