 
 <template>
  <v-tooltip bottom>
    <template v-slot:activator="{ on }">
      <v-btn @click="changefullscreen" v-on="on" icon flat>
        <v-icon v-if="$store.state.fullscreen != true">fullscreen</v-icon>
        <v-icon v-else>fullscreen_exit</v-icon>
      </v-btn>
    </template>
    <span>FullScreen</span>
  </v-tooltip>
</template>
            
<script>
export default {
  name: "zoneFullscreenButton",
  methods: {
    changefullscreen() {
      if (!this.$store.state.fullscreen == true) {
        this.$router.replace({ query: { fullscreen: "1" } });
        this.$store.commit("setfullscreen", true);
      } else {
        this.$router.replace({ query: null });
        this.$store.commit("setfullscreen", false);
      }
    }
  }
};
</script>