<template>
<zoneBackground  zTitle="EMS Management">   
 <zoneButton  @click="openRegistryKeymanager"> Manage Registry Keys </zoneButton>  
   
  <zone-background-header zHeaderTitle="EMS Management"></zone-background-header>
   <v-card-title>
        <v-text-field  
          v-model= "searchQuery"
          append-outer-icon="search"
          label="Search"
          single-line
          hide-details          
        ></v-text-field>        
      </v-card-title>

  <v-data-table
        :headers="zTableHeaders"
        :search = "searchQuery"
        :loading="zLoading"
        :items="DeviceList"  
        :rows-per-page-items="zRowsPerPageItems"      
      >
        <template slot="items" slot-scope="props">
          <td> {{props.item.location }} </td>
          <td>{{ props.item.computerName }}</td>
          <td>{{ props.item.processorName }}</td>
          <td>{{ props.item.domainName }}</td>
          <td>{{ props.item.ipAddress }}</td>
          <td>{{ props.item.lastCollectedDate| moment("YYYY/MM/DD hh:mm:ss") }}</td>
          
          <td>
              <v-tooltip top>
                    <span slot="activator">
                      <v-btn
                        @click="getDeviceuuid(props.item)"
                        fab
                        small
                        class="zSmall-fab primary"
                        color="primay white--text"
                      >
                        <v-icon class="zSmall-icon white--text">visibility</v-icon>
                      </v-btn>
                    </span>
                    <h3>See More Details</h3>
                  </v-tooltip>
         
              <v-tooltip top>
                    <span slot="activator">
                      <v-btn
                        @click="Getschedule(props.item.uuid)"
                        fab
                        small
                        class="zSmall-fab primary"
                        color="primay white--text"
                      >
                      <v-icon>mdi-watch</v-icon>
                      </v-btn>
                    </span>
                    <h3>Schedule this agent now</h3>
                  </v-tooltip>
          </td>    
        </template>
      </v-data-table>      
  </zoneBackground>
</template>
<script>

import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
//import axios from 'axios';

export default {
    name: "ems",

  data: () => ({
    MyzFormSchema: [],   
    DeviceList: [], 
    soft: [],
    ip: [],
    reg:[],

     
    compname: '',
     searchQuery: null,
    zRowsPerPageItems: [10, 20, 25, 30],
    e1: 1,
    
    zTableHeaders: [
      {
        text: "Location",
        value: "location",
        sortable: true,
        searchable: true
      },
      {
        text: "Computer Name",
        value: "computerName",
        sortable: true,
        searchable: true
      },     
      {
        text: "Processor Name",
        value: "processorName",
        sortable: true,
        searchable: true
      },
      {
        text: "Domain",
        value: "domainName",
        sortable: true,
        searchable: false
      },
       {
        text: "IP Address",
        value: "ipAddress",
        sortable: true,
        searchable: false
      },
       {
        text: "Last Polled",
        value: "lastCollectedDate",
        sortable: true,
        searchable: true
      },
      {
        text: "Actions",
        value: "actions"
      }
    ],
   
  }),
  mounted: function() {
   
   this.getDevicesInfo();
   
   //this.Getschedule();
  },
  created() {
   
    this.getDevicesInfo();
  },
  methods: {
      openRegistryKeymanager(){
       this.$router.push({ name: "RegistryKeyManager" });
    },  


      getDeviceuuid: function(item) {
      this.$store.commit("updateEditedDevice", item); 
     
      this.$router.push({ name: "devicedetails" });
    },

     Getschedule: function(id){    

          var self = this;                 
       
           this.$http
        .post(this.$conf.api_ems + "/v1/Myscheduler/" + id)
        .then(response => {
            Swal.fire({
            type: "success",
          
            title: "Agent has been scheduled to run now..."
          });                        
         
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Device Info"
          });
        });

       },   
     
      getDevicesInfo() {
      var self = this;   
     //self.$store.commit("updateloading", true);    .get(this.$conf.api_cms + "/v1/Request/GetRequestNumber")
          this.$http
        .get(this.$conf.api_ems + "/v1/AgentDevices/GetDeviceInfo")
        .then(response => {
          self.DeviceList = response.data;        
          console.log(self.DeviceList);  
         })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Device Info"
          });
        });
    },
    },    
     
  computed:
{
    resultQuery:function()
    {
        var self=this;
        return this.DeviceList.filter(function(cust){return cust.computerName.toLowerCase().indexOf(self.search.toLowerCase())>=0;});
    }
},

  watch: {
    //Watch when zPagination prop changes
  zPagination: {},
   
  }
};
</script>