  <template>
  <zoneBackground
   zBackURL="/" 
   zTitle="DeviceDetails" 
   zBackgroudCard
   :showarrow = true
     >
    <!-- {{this.$route.params.requestNumber}} -->       
    <v-tabs v-model="active">   
     
      <v-tab to="?Hardware">Hardware</v-tab>

      <v-tab-item id="?Hardware" pa-3>
        <Hardwaredetails></Hardwaredetails>
      </v-tab-item>

      <v-tab to="?Software">Software</v-tab>
      <v-tab-item id="?Software">
        
        <Softwaredetails></Softwaredetails>
     
      </v-tab-item>

      <v-tab to="?Disks">Disks</v-tab>
      <v-tab-item id="?Disks">
         <DiskDetails></DiskDetails>
      </v-tab-item>
      
       <v-tab to="?>Registry Values">Registry Values</v-tab>
      <v-tab-item id="?>Registry Values">
        <Registrydetails></Registrydetails>
      </v-tab-item>
     
    </v-tabs>
  </zoneBackground>
</template>

<script>
import Softwaredetails from "@/views/Softwaredetails.vue";
import Hardwaredetails from "@/views/Hardwaredetails.vue";
import DiskDetails from "@/views/DiskDetails.vue";
import Registrydetails from "@/views/Registrydetails.vue";
export default {
  name: "devicedetails",
  data: function() {
    return {
      DeviceItems: [],
    
    };
  },
  mounted: function() {
 this.loadDevice();
  },
  methods: {
     loadDevice: function() {  
 
      if (this.$store.state.editedDevice != null) {

         this.DeviceItems.push(this.$store.state.editedDevice);   
         console.log(this.$store.state.editedDevice);            

        }
     },
    
  },
  components: {
  Hardwaredetails,
  Softwaredetails,
  DiskDetails,
  Registrydetails,
  }
 
};
</script>
 <style lang="scss">

</style>