<template>
  <div>
    <zoneBackgroundHeader zHeaderTitle="Disk Details" zDark zToolbarButtons>     
    </zoneBackgroundHeader>
    <zoneCard>
      <v-flex xs12 sm12 md12 my-2></v-flex>   
       <v-card-title>
          <v-text-field
            v-model= "searchQuery"
            append-outer-icon="search"
            label="Search"
            single-line
            hide-details          
          ></v-text-field>  
            </v-card-title>    
      <!-- <zoneBackgroundHeader zHeaderTitle="Quotations"></zoneBackgroundHeader> -->        
      <v-data-table 
        :headers="zTableHeaders"
        :search = "searchQuery"
        :loading="zLoading"
        :items="DiskDetails"      
        :rows-per-page-items="zRowsPerPageItems"     
      >
        <template slot="items" slot-scope="props">
          <td> {{props.item.name}} </td>
          <td>{{ props.item.drive }}</td>
          <td>{{ props.item.totalSize + ' GB'}}</td>
          <td>{{ props.item.availableFreeSpace + ' GB'}}</td>
          <td>{{ props.item.usedSpace + ' GB'}}</td>          
           <td>{{ props.item.lastCollectedDate| moment("YYYY/MM/DD hh:mm:ss") }}</td>
          <td>{{ props.item.driveFormat }}</td>
          
          </template>
      </v-data-table> 
    </zoneCard>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
export default {
  name: "requestPricing",
  requestNumber: null,
  modalEdit: false,
  data: function() {
    return {
      zDialog: false,
        searchQuery:'',
        zRowsPerPageItems: [10, 15, 20],
      zTableHeaders: [
        {
          text: "Drive",
          value: "drive",
          sortable: true
        },
        {
          text: "	Type",
          value: "version",
           sortable: true
        },
        {
          text: "Total Size",
          value: "totalSize",
           sortable: true
        },
        {
          text: "Available Free Space",
          value: "availableFreeSpace",
           sortable: true
        },

         {
          text: "Used Space",
          value: "usedSpace",
           sortable: true
        },
         {
          text: "Last Collected Date",
          value: "lastCollectedDate",
           sortable: true
        },
         {
          text: "Drive Format",
          value: "driveFormat",
           sortable: true
        }
       
      ],
       DiskDetails: [],
      Recommended: [],
      Optional: [],

      zCrudSchema: [
        {
          zApiKeyName: "description",
          zFlex: "large",
          zLabel: "Description",
          zInputType: "text",
          zVModel: "",
          zValidation: "name",
          zDynamicField: false
        },
        {
          zApiKeyName: "recommended",
          zFlex: "large",
          zLabel: "Recommended Quotation",
          zInputType: "switch",
          zVModel: false,
          zDynamicField: false
        }
      ]
    };
  },
  
   created() {
   this.getDisk();
   
  },
   mounted: function() {
    
  },
  methods: {     
   
      getDisk() {
      var self = this;
      var uuid = this.$store.state.editedDevice;      

      //self.$store.commit("updateloading", true);
      this.$http
        .get(this.$conf.api_ems + "/v1/DiskDetails/" +  uuid.agentDeviceuuid)
        .then(response => {
          self.DiskDetails = response.data;
          
          
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Product Sub Families"
          });
        });
    },
  }
};
</script>
