<template>
  <div>
    <zoneBackgroundHeader  :zHeaderTitle="'Hardware Details for device: '+ DeviceItems.computerName" zDark zToolbarButtons>     
    </zoneBackgroundHeader>      

               <v-container fluid grid-list-md>           
             <v-layout v-bind="binding" >                       
             <v-flex d-flex xs14 sm7 md7 >     
                 <v-card >  
                  <v-list  dense>               
                  <v-list-tile>
                   <v-list-tile-content>
                  <strong>Computer Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.computerName }}</v-list-tile-action>                  
                </v-list-tile>             
                  <v-list-tile>
                  <v-list-tile-content>
                    <strong>User Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.userName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>Domain Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.domainName}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>BIOS Name:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.biosName}}</v-list-tile-action>
                </v-list-tile>            
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>BIOS Manufacturer:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.biosManufacturer}}</v-list-tile-action>
                </v-list-tile>
                 <v-list-tile>
                  <v-list-tile-content>
                    <strong>BIOS Version:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.biosVersion}}</v-list-tile-action>
                </v-list-tile>
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>BIOS SN:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.biossn}}</v-list-tile-action>
                </v-list-tile>
                  <v-list-tile>
                  <v-list-tile-content>
                    <strong>Operating System:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.operatingSystem}}</v-list-tile-action>
                </v-list-tile> 
                <v-list-tile>
                  <v-list-tile-content>
                    <strong>OS Major Version:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.osMajorVersion}}</v-list-tile-action>
                </v-list-tile>   
                 </v-list>    
                 </v-card>                               
                 </v-flex> 

                <v-flex d-flex xs14 sm7 md7>  
                    <v-card >                        
             <v-list dense>               
                  <v-list-tile>                  
                  <v-list-tile-content>
                    <strong>OS Minor Version:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.osMinorVersion}}</v-list-tile-action>
                </v-list-tile>                  
                 <v-list-tile>
                  <v-list-tile-content>
                    <strong>OS Install Datee:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.osInstallDate| moment("YYYY/MM/DD hh:mm:ss")}}</v-list-tile-action>
                </v-list-tile>           
                 <v-list-tile>
                  <v-list-tile-content>
                    <strong>Last Collected:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.lastCollectedDate| moment("YYYY/MM/DD hh:mm:ss")}}</v-list-tile-action>
                </v-list-tile>           
                 <v-list-tile>
                  <v-list-tile-content>
                    <strong>Processor Clock Frequency:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.processorName}}</v-list-tile-action>
                </v-list-tile>  
                  <v-list-tile>
                  <v-list-tile-content>
                    <strong>Processor Cores:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.processorCores}}</v-list-tile-action>
                </v-list-tile>                    
                 <v-list-tile>
                  <v-list-tile-content>
                    <strong>Memory:</strong>
                  </v-list-tile-content>
                  <v-list-tile-action>{{DeviceItems.memory + ' GB'}}</v-list-tile-action>
                </v-list-tile>                
                 </v-list>
                   </v-card>
                 </v-flex>
             </v-layout>
            </v-container>                                  
  </div>
</template>     

<script>

export default {
  name: "requestPricing",
  requestNumber: null,
  modalEdit: false,
  data: function() {
    return {
      zDialog: false,

      zTableHeaders: [
        {
          text: "Computer Name",
          value: "computerName"
        },
        {
          text: "User Name",
          value: "userName"
        },

        {
          text: "Domain Name",
          value: "domainName"
        },
        {
          text: "BIOS Name",
          value: "bIOSName"
        },
        {
          text: "BIOS Manufacturer",
          value: "bIOSManufacturer"
        },
        {
          text: "BIOS Version",
          value: "bIOSVersion"
        },
        {
          text: "BIOS SN",
          value: "bIOSSN"
        },
        {
          text: "Operating System",
          value: "operatingSystem"
        },
        {
          text: "OS Major Version",
          value: "oSMajorVersion"
        },
        {
          text: "OS Minor Version",
          value: "oSMinorVersion"
        },
        {
          text: "OS Install Date",
          value: "oSInstallDate"
        },
        {
          text: "Last Collected",
          value: "lastCollected"
        },
        {
          text: "Processor Clock Frequency",
          value: "processorName"
        },        
        {
          text: "Processor Cores",
          value: "processorCores"
        },
        {
          text: "Memory",
          value: "memory"
        },
       
      ],
      hardrive: [],
      Optional: [],
      DeviceItems: [],

     
    };
  },
   created: function() {  
    this.$store.commit("updateloading", true);
     
    this.loadDevice();
    //this.editProduct();
    
  },
  mounted: function() {
    
  
  },
  methods: {    

  loadDevice: function() {  
  
      if (this.$store.state.editedDevice != null) {

         this.DeviceItems= this.$store.state.editedDevice;   
         console.log(this.$store.state.editedDevice);
      
        }
      },    
  }
};
</script>
