<template>
  <div>
    <zoneBackgroundHeader zHeaderTitle="Registry Details" zDark zToolbarButtons>     
    </zoneBackgroundHeader>
      <zoneCard>             
      <v-flex xs12 sm12 md12 my-2></v-flex>   
      <v-card-title>
          <v-text-field
            v-model= "searchQuery"
            append-outer-icon="search"
            label="Search"
            single-line
            hide-details          
          ></v-text-field>  
            </v-card-title>    

      <!-- <zoneBackgroundHeader zHeaderTitle="Quotations"></zoneBackgroundHeader> -->     
        <v-data-table
        :headers="zTableHeaders"
        :search = "searchQuery"
        :loading="zLoading"
        :items="RegDetails" 
        :rows-per-page-items="zRowsPerPageItems"       
      >
        <template slot="items" slot-scope="props">
          <td> {{props.item.hive }} </td>
          <td>{{ props.item.key }}</td>
          <td>{{ props.item.value }}</td>
          
           <td>{{ props.item.lastpolled| moment("YYYY/MM/DD hh:mm:ss") }}</td>                  
          </template>
      </v-data-table> 
    </zoneCard>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
export default {
  name: "requestPricing",
  requestNumber: null,
  modalEdit: false,
  data: function() {
    return {
      zDialog: false,
        searchQuery:'',
        zRowsPerPageItems: [10, 15, 20],
        
      zTableHeaders: [
        {
          text: "Location",
          value: "hive",

          sortable: false,
           
        },
        
        {
          text: "Key",
          value: "key",
          // sortable: true
        },
        {
          text: "Value",
          value: "value",
          // sortable: true
        },
        {
          text: "Last Collected",
          value: "lastpolled",
          // sortable: true
        },       
       
      ],
       RegDetails: [],
      Recommended: [],
      Optional: [],

      
    };
  },
    
   created() {  
   this.getRegistry();
   
   
  },
  methods: {      
   
    getRegistry() {
      var self = this;
   
      var uuid = this.$store.state.editedDevice;

      //self.$store.commit("updateloading", true);
      this.$http
        .get(this.$conf.api_ems + "/v1/RegistryDetails/" + uuid.agentDeviceuuid)
        .then(response => {
          self.RegDetails = response.data;
          self.RegDetails.sort(function(a, b) {
              if (a.hive.toLowerCase() > b.hive.toLowerCase())
                return 1
              else if (a.hive.toLowerCase() < b.hive.toLowerCase())
                return - 1
              else
                return 0
            });

                 self.RegDetails.sort(function(a, b) {
              if (a.key.toLowerCase() > b.key.toLowerCase())
                return 1
              else if (a.key.toLowerCase() < b.key.toLowerCase())
                return - 1
              else
                return 0
            });
                 self.RegDetails.sort(function(a, b) {
              if (a.value.toLowerCase() > b.value.toLowerCase())
                return 1
              else if (a.value.toLowerCase() < b.value.toLowerCase())
                return - 1
              else
                return 0
            });        
          
         //alert(JSON.stringify(self.RegDetails));
                        
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Registry Details"
          });
        });
    },
  }
};
</script>
