<template>
    <zoneBackground zTitle="Registry Key Manger" zBackgroudCard :showarrow = true>
           <br/>
            <zoneModal                 
                :zDialog="zModalToggle" 
                :zModalTitle="zModalTitle"
                :zPersist="zPersistModal"
                zButtonLabel="Create New Registry Key"
                @open="createNewRegistryKey"
                @close="zModalToggle=!zModalToggle"              

            >
                <v-form ref="form"  v-model="valid" onSubmit="return false;">
                    <v-container>
                        <v-layout>                          
                            <v-flex xs12 md4 >
                                 <!-- <v-selec v-model="zModalData.type" :counter="30"  label="Key Type" required />-->
                                 <v-select  :rules="[rules.required]" :items="items" v-model="zModalData.type" label="Type" single-line bottom></v-select>
                            <!--v-select -->
                            </v-flex>
                            <v-flex xs12 md4 >                                 

                                <v-text-field   :rules="[rules.required]" v-model="zModalData.location" :counter="60" label="Location" required />
                            </v-flex>
                              <v-flex xs12 md4 >
                                <v-text-field :rules="[rules.required]" v-model="zModalData.key" :counter="60" label="Key" required />
                            </v-flex>
                        </v-layout><br/>
                        <v-layout>
                            <v-spacer/>
                            <zoneButton zDark @click="saveRegistryKey()"> Save Registry Keys </zoneButton>
                        </v-layout>
                    </v-container>
                </v-form>                
            </zoneModal>           
            <br/>
            <zone-background-header zHeaderTitle="Registry Key Management"/>
             <v-card-title>
        <v-text-field  
          v-model= "searchQuery"
          append-outer-icon="search"
          label="Search"
          single-line
          hide-details          
        ></v-text-field>        
      </v-card-title>

            <v-data-table
               :headers="zTableHeaders"
                :search = "searchQuery"
                :loading="zLoading"
                :items="RegistryKeyList"
                :rows-per-page-items="zPagination"              
      
            >
                <template v-if="RegistryKeyList.length > 0" slot="items" slot-scope="props">
                <td>{{ props.item.type }}</td>
                <td>{{ props.item.location }}</td>
                <td> {{props.item.key }} </td>       
                <td>{{ props.item.dateCreated| moment("YYYY/MM/DD hh:mm:ss")}}</td>   
                <td>{{ props.item.dateModified| moment("YYYY/MM/DD hh:mm:ss") }}</td>               
                <td>
                    <v-tooltip top>
                        <span slot="activator">
                            <v-btn
                                @click="createNewRegistryKey(props.item)"
                                fab small
                                class="zSmall-fab primary"
                                color="primay white--text"
                            >
                                <v-icon class="zSmall-icon white--text">edit</v-icon>
                            </v-btn>
                        </span>
                        <h3>Edit Key</h3>
                    </v-tooltip>
                    <v-tooltip top>
                        <span slot="activator">
                            <v-btn
                                @click="deleteRegistryKey(props.item)"
                                fab small
                                class="zSmall-fab primary"
                                color="accent"
                            >
                                <v-icon class="zSmall-icon white--text">delete</v-icon>
                            </v-btn>
                        </span>
                        <h3>Delete Key</h3>
                    </v-tooltip>
                </td>    
                </template>
            </v-data-table>
    </zoneBackground>
</template>
<script>
    import Swal from "sweetalert2";
    import "sweetalert2/src/sweetalert2.scss";
    export default {
    name: "RegistryKeyManagement",
    data: () => ({
        //Modal Management
        zModalTitle: null,
        zModalToggle: false,
         zPersistModal: false,

         items: ['RegistryHive.CurrentUser', 'RegistryHive.LocalMachine'],
        searchQuery: null,
        valid :"",

        //Modal Data
        zModalData: {
                  
                    type: "",
                    Location: "",
                    Key:""
                },

  rules: {
        required: value => !!value || "Required.",
           
      },
              
        //Table handlers
        zLoading: "error",
       
      
       zPagination: {
      descending: false,
      page: 1,
       zRowsPerPageItems: 10,
      sortBy: "Location"
    },    
        
        zTableHeaders: [
              {
                text: "Key Type",
                value: "type",              
                zLabel: "Type",                     
                searchable: true,
                zInputType: "select",
                zVModel: "",
                  zSelectOptions: [              
              ],
                sortable: true
            },
                {
                text: "Location",
                value: "location",            
                searchable: true,
                sortable: true,
            },     

            {
                text: "Key name",
                value: "key",             
                searchable: true,
                sortable: true,
            },         
          
            {
                text: "Date Created",
                value: "_dateCreated",
                searchable: true,
                 sortable: true,
            },
            {
                text: "Date Modified",
                value: "_dateModified",                
                searchable: false,
                sortable: true,
            },
            {
                text: "Key Actions",
                value: "actions"
            },


        ],
         Erros: [],
        //Table Data
        RegistryKeyList: [],

    }),
     created () {
        this.getRegistryKeyList()
    },
   /*  mounted () {
        this.getRegistryKeyList()
    }, */
    methods: {
      createNewRegistryKey(data){
          this.zModalToggle = true;
          if(data == null){
            this.zModalTitle = "Create New Registry Key";
            this.zModalData =  {
                  type: null,
                  Location: null,
                    key:null                 
                    
                };
          } 
          else{ 
            this.zModalTitle = "Edit Existing Registry Key";
            this.zModalData = data;            
          }         
      },
    
      deleteRegistryKey(data){

        console.log(data);        
        var self = this;
      //Warn User / seek user confirmation.
      Swal.fire({
        title: "Are you sure?",
        text: "You will not be able to recover this record!",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes, delete it!",
        cancelButtonText: "No, cancel"
      }).then(result => {
        if (result.value) {          
          //API to delete approval
          this.$http
            .delete(this.$conf.api_ems + "/v1/RegistryManagement/" + data.uuid)
            .then(function() {
              self.getRegistryKeyList();
              Swal.fire("Deleted!", "Registry has been deleted.", "success");
            })
            .catch(e => {
              Swal.fire("Error", "Record Could Not be Deleted", "error");
            })
            .finally(function() {
              self.$store.commit("updateloading", false);
            });
        } else if (result.dismiss === Swal.DismissReason.cancel) {
          Swal.fire("Cancelled", "Record NOT deleted :)", "error");
        }
      });
      },
      getRegistryKeyList(){
            //Insert registry key GET_API call in here.
             var self = this;

        this.$http
        .get(this.$conf.api_ems + "/v1/RegistryManagement/GetRegistryValues")
        .then(response => {
          self.RegistryKeyList = response.data;
          console.log(self.RegistryKeyList);        
             
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",  
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Registry Values"
          });
        });
            this.zLoading = null;
        },
      //Save Method goes in here & Validation.
      saveRegistryKey(){
          
        this.zModalToggle = true;
         // if(data == null){
            this.zModalTitle = "Create New Registry Key";
                    let self = this; 
                   
      if (this.$refs.form.validate()) {
        
        console.log(this.zModalData);
      this.$http
        .post(this.$conf.api_ems + "/v1/RegistryManagement", this.zModalData)
        .then(response => {     
            Swal.fire({
            type: "success",
            timer: 1000,
            title: "Saved..."
          });       
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went wrong with Saving"
          });
        })
        .finally(function() {
          self.getRegistryKeyList();
            this.zModalData =  {
               type: "",
               Location: "",
                     key:""                    
                    
                 };
                  this.zModalToggle = false;        
        });
        }          
        else{
           
            self.getRegistryKeyList();
    
          }

    }
    }
}                                       
</script>