<template>
  <div>
    <zoneBackgroundHeader zHeaderTitle="Sofware Details" zDark zToolbarButtons>     
    </zoneBackgroundHeader>
    <zoneCard>
      <v-flex xs12 sm12 md12 my-2></v-flex>

        <v-card-title>
          <v-text-field
            v-model= "searchQuery"
            append-outer-icon="search"
            label="Search"
            single-line
            hide-details          
          ></v-text-field>  
            </v-card-title>
                        
     <!--  <tr v-for="item in filteredResources">
      <td><a v-bind:href="item.Name" target="_blank">{{item.Name}}</a></td>
      </tr>
                        -->
      <!-- <zoneBackgroundHeader zHeaderTitle="Quotations"></zoneBackgroundHeader> -->      
      <v-data-table
        :headers="zTableHeaders"
        :search = "searchQuery"
        :loading="zLoading"
        :items="SoftwareDetails"        
        :rows-per-page-items="zRowsPerPageItems"
      >
        <template slot="items" slot-scope="props">
          <td> {{props.item.name}} </td>
          <td>{{ props.item.version }}</td>
          <td>{{ props.item.installLocation }}</td>          
           <td>{{ props.item.osInstallDate| moment("YYYY/MM/DD hh:mm:ss") }}</td>
          <td>{{ props.item.publisher }}</td>
           <td>{{ props.item.lastpolled| moment("YYYY/MM/DD hh:mm:ss") }}</td>
           </template>
      </v-data-table> 
    </zoneCard>
  </div>
</template>

<script>
import Swal from "sweetalert2";
import "sweetalert2/src/sweetalert2.scss";
export default {
  name: "requestPricing",
  requestNumber: null,
  modalEdit: false,
  data: function() {
    return {
      zDialog: false,
      zRowsPerPageItems: [10, 15, 20],

     
      zTableHeaders: [
        {
          text: "Name",
          value: "name",
          sortable: true,
           searchable: true,
        },
        {
          text: "Version",
          value: "version",
          sortable: true,
           searchable: true,
        },
        {
          text: "Install Location",
          value: "installLocation",
          sortable: true,
          searchable: true,
        },
        {
          text: "Install Date",
          value: "installDate",
         // sortable: true
        },

         {
          text: "Publisher",
          value: "publisher",
          sortable: true,
           searchable: true,
        },
         {
          text: "Last polled",
          value: "lastpolled",
          sortable: true
        }
      ],

      SoftwareDetails: [],
      Recommended: [],
      Optional: [],
      searchQuery:'',

      zCrudSchema: [
        {
          zApiKeyName: "description",
          zFlex: "large",
          zLabel: "Description",
          zInputType: "text",
          zVModel: "",
          zValidation: "name",
          zDynamicField: false
        },
        {
          zApiKeyName: "recommended",
          zFlex: "large",
          zLabel: "Recommended Quotation",
          zInputType: "switch",
          zVModel: false,
          zDynamicField: false
        }
      ]
    };
  },
 
   created() {
   
    //this.getSoftwareInfo();
  },
     mounted: function() {
    this.getSoftwareInfo();
    setTimeout(() => this.searchItem = this.SoftwareDetails)
  },

  computed: {
  filteredResources (){
      if(this.searchQuery){
      return this.SoftwareDetails.filter((item)=>{
        return item.Name.startsWith(this.searchQuery);
      })
      }else{
        return this.SoftwareDetails;
      }
    }
},

  methods: {     
   
     getSoftwareInfo() {
      var self = this;
      var uuid = this.$store.state.editedDevice;      

      //self.$store.commit("updateloading", true);
      
      this.$http
        .get(this.$conf.api_ems + "/api/SoftwareDetails/" +  uuid.agentDeviceuuid)
        .then(response => {
          self.SoftwareDetails = response.data;

          self.SoftwareDetails.sort(function(a, b) {

              if (a.name.toLowerCase() > b.name.toLowerCase())
                return 1
              else if (a.name.toLowerCase() < b.name.toLowerCase())
                return - 1
              else
                return 0
            });

             self.SoftwareDetails.sort(function(a, b) {
              if (a.version.toLowerCase() > b.version.toLowerCase())
                return 1
              else if (a.version.toLowerCase() < b.version.toLowerCase())
                return - 1
              else
                return 0
            });

              self.SoftwareDetails.sort(function(a, b) {
              if (a.installLocation.toLowerCase() > b.installLocation.toLowerCase())
                return 1
              else if (a.installLocation.toLowerCase() < b.installLocation.toLowerCase())
                return - 1
              else
                return 0
            });
            
              self.SoftwareDetails.sort(function(a, b) {
              if (a.publisher.toLowerCase() > b.publisher.toLowerCase())
                return 1
              else if (a.publisher.toLowerCase() < b.publisher.toLowerCase())
                return - 1
              else
                return 0
            });            
        
        })
        .catch(error => {
          self.$store.commit("updateloading", false);
          Swal.fire({ 
            type: "error",
            timer: 2000,
            title: "Oops...",
            text: "Something went retrieving Software Details"
          });
        });
    },
 
    closeModal: function() {
      if (this.modalEdit) {
        this.zCrudSchema.map(z => {
          if (z.zApiKeyName === "description") {
            z.zVModel = "";
          }
        });

        this.zCrudSchema.pop();
      }
      this.zDialog = false;
      this.modalEdit = false;
    },

    toggle(index) {
            const i = this.selected.indexOf(index)

            if (i > -1) {
                this.selected.splice(i, 1)
            } else {
                this.selected.push(index)
            }
        }
  },
 
};
</script>
