<template>
  <div>
    <v-toolbar
      v-if="small != true"
      class="zoneBackgroundHeader elevation-8 round-header simheader_print"
      :dark="zDark"
      py-4
      px-4
      dense
      style="margin-top: 0px; margin-bottom: 0px; margin-left: -6px; margin-right: -6px"
    >
      <v-toolbar-title class="body-2 white--text">
        <v-icon
          class="white--text pr-3"
          style="display:inline"
          v-if="zBackArrow"
          @click="$emit('Backaction')"
        >arrow_back</v-icon>
        {{zHeaderTitle}}
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <slot name="icon" v-if="zToolbarIconRight">
        <v-avatar size="40">
          <img src="../../assets/img/BCX-Building-Image.jpg" />
        </v-avatar>
      </slot>
      <slot name="actionButtons" v-if="zToolbarButtons"></slot>
    </v-toolbar>
    <hr class="zoneBackgroundHeaderSmall round-header" v-else />
  </div>
</template>
<script>
export default {
  name: "zoneBackgroundHeader",
  props: {
    zToolbarButtons: {
      type: Boolean,
      default: false
    },
    zToolbarIconRight: {
      type: Boolean,
      default: false
    },
    zHeaderTitle: {
      type: String,
      default: "BCX Zone Default Header"
    },
    zDark: {
      type: Boolean,
      default: false
    },
    zBackArrow: {
      type: Boolean,
      default: false
    },
    small: {
      type: Boolean,
      default: false
    },
    tab: {
      type: Boolean,
      default: false
    }
  }
};
</script>
<style scoped>
.theme--dark.v-toolbar {
  background-color: #e21e2a !important;
}
.zoneBackgroundHeader {
  border-top: 5px solid black !important;
  background-color: #e21e2a !important;
  color: black !important;
  border-bottom: black !important;
}
.round-header {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.zoneBackgroundHeaderSmall {
  height: 25px;
  border-top: 5px solid black !important;
  background-color: #e21e2a !important;
  color: black !important;
  border-bottom: black !important;
}
</style>
