<template>
  <v-container fluid>
    <zoneToolbar :showarrow = showarrow :zBackURL="zBackURL" :zTitle="zTitle"></zoneToolbar>
    <v-layout>
      <v-flex xs12 mt-1>
        <v-card min-height="470" v-if="zBackgroudCard" width="100%">
          <slot></slot>
        </v-card>
        <slot v-else></slot>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: "zoneBackground",
  props: {
    zTitle: {
      type: String,
      default: "Example Title"
    },
    zBackURL: {
      type: String,
      default: "/"
    },
        showarrow: {
      type: Boolean,
      default: false
    },    
    zBackgroudCard: {
      type: Boolean,
      default: false
    }
  }
};
</script>