    
<template>
  <v-toolbar app color="black">
    <v-toolbar-title>
      <v-icon
        class="white--text pr-3"
        style="display:inline"
        @click="$router.push(zBackURL)"
        v-if = showarrow
      >arrow_back</v-icon>
      <p style="display:inline" v-if="$vuetify.breakpoint.smAndUp">{{zTitle}}</p>
    </v-toolbar-title>
<v-spacer/>
    <v-img
      :src="require('../../assets/img/BCX-Zone_White.png')"
      height="50"
      aspect-ratio="1"
      contain
      position="left"
    ></v-img>


  </v-toolbar>
</template>

<script>
export default {
  name: "zoneToolbar",
  props: {
    zTitle: { type: String, default: "Example Title" },
    zBackURL: { type: String, default: "/" },
    showarrow: { type: Boolean, default: false }
  },
  data: function() {
    return {
      breadcrumb: [],
      CustomerName: "",
      logoURL: "/img/Loader.gif",
      customerlist: []
    };
  },
  watch: {
    $route() {}
  },
  mounted() {
  },
  methods: {

  }
};
</script>
<style scoped>
.v-toolbar {
  border-bottom: 5px solid #e21e2a !important;
}
.v-toolbar__title {
  color: white !important;
}

.v-toolbar__side-img {
  background-color: white !important;
  padding: 10px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
  margin-left: -24px !important;
}
@media only screen and (max-width: 959px) {
  .v-toolbar__side-img {
    background-color: white !important;
    margin-left: 0px !important;
  }
}
</style>
